[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # mailing_bugid: The bug ID that email is being sent for.
  # sent_bugmail: The results of Bugzilla::BugMail::Send().
  #%]

[% USE CGI %]
[% PROCESS global/variables.none.tmpl %]

[%# hide the recipient list by default from new users %]
[% show_recipients =
     user.settings.post_bug_submit_action.value == 'nothing'
     || CGI.cookie('show_bugmail_recipients')
     || !user.can_see_bug(mailing_bugid)
%]
[% recipient_count = sent_bugmail.sent.size %]

<script>
function toggleBugmailRecipients(bug_id, show) {
  if (show) {
    YAHOO.util.Dom.removeClass('bugmail_summary_' + bug_id, 'bz_default_hidden');
    YAHOO.util.Dom.addClass('bugmail_summary_' + bug_id + '_short', 'bz_default_hidden');
  } else {
    YAHOO.util.Dom.addClass('bugmail_summary_' + bug_id, 'bz_default_hidden');
    YAHOO.util.Dom.removeClass('bugmail_summary_' + bug_id + '_short', 'bz_default_hidden');
  }
  YAHOO.util.Cookie.set('show_bugmail_recipients', (show ? 1 : 0), {
    expires: new Date("January 12, 2025")
  });
  return false;
}
</script>

<dl id="bugmail_summary_[% mailing_bugid FILTER none %]"
    class="[% show_recipients ? "" : "bz_default_hidden" %]">
  <dt>Email sent to:</dt>
  <dd>
  [% IF user.can_see_bug(mailing_bugid) %]
    [% IF sent_bugmail.sent.size > 0 %]
      [%+ FOREACH name = sent_bugmail.sent %]
        <code>[% name FILTER html %]</code>[% ", " UNLESS loop.last() %]
      [% END %]
    [% ELSE %]
      no one
    [% END %]
    (<a href="#" onclick="return toggleBugmailRecipients([% mailing_bugid FILTER none %], false)">hide</a>)
  [% ELSE %]
    (list of e-mails not available)
  [% END %]
  </dd>
</dl>

<div id="bugmail_summary_[% mailing_bugid FILTER none %]_short"
     class="[% show_recipients ? "bz_default_hidden" : "" %]">
  [% IF recipient_count > 0 %]
    Email sent to [% recipient_count FILTER html %] recipient[% 's' UNLESS recipient_count == 1 %].
    (<a href="#" onclick="return toggleBugmailRecipients([% mailing_bugid FILTER none %], true)">show</a>)
  [% ELSE %]
    No emails were sent.
  [% END %]
</div>
