[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS product.name == 'Bugzilla' %]

<div id="bug_create_warning">
  <div id="bug_create_warning_image">
    <img src="[% basepath FILTER none %]extensions/BMO/web/images/sign_warning.png" width="32" height="32" alt="">
  </div>
  <div id="bug_create_warning_text">
    <p>This is not the place to file changes to this installation of [% terms.Bugzilla %] (bugzilla.mozilla.org).</p>
    <p>If you need account changes, permissions, new or updates to products and components, or changes to the values of
      existing fields (versions, milestones, etc) then instead file an Administation request 
      <a href="[% basepath FILTER none %]enter_bug.cgi?product=bugzilla.mozilla.org&component=Administration">here</a>.</p>
    <p>For reature requests or [% terms.bug %] fixes for this installation then file a [% terms.bug %] report
    <a href="[% basepath FILTER none %]enter_bug.cgi?product=bugzilla.mozilla.org&component=General">here</a>.</p>
  </div>
</div>
