[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS product.name == 'Bugzilla' %]

<div id="bug_create_warning">
  <div id="bug_create_warning_image">
    <img src="[% basepath FILTER none %]extensions/BMO/web/images/sign_warning.png" width="32" height="32" alt="">
  </div>
  <div id="bug_create_warning_text">
    This is <b>not</b> the place to file changes to this installation of [% terms.Bugzilla %] (bugzilla.mozilla.org).
    This includes, but is not limited to:
    <ul>
      <li>Account changes</li>
      <li>Permissions</li>
      <li>New or updates to products and components</li>
      <li>Changes to the values of existing fields (versions, milestones, etc)</li>
      <li>Feature requests</li>
      <li>[% terms.Bug %] fixes</li>
    </ul>
    Instead, please file such issues under the
    <a href="[% basepath FILTER none %]enter_bug.cgi?product=bugzilla.mozilla.org">
      <b>bugzilla.mozilla.org</b></a>
    product.
  </div>
</div>
