[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]

:: What i'm trying to accomplish

Primary Objective:
[%+ cgi.param("short_desc") %]

Who is the audience for this data:
[%+ cgi.param("audience") %]

What part of the project are you in:
[%+ cgi.param("cf_mozilla_project") %]

If you acheive this goal, what level of impact will it have on Mozilla:
[%+ cgi.param("impact_number") %]

When do you need this completed by:
[%+ cgi.param("cf_due_date") %]

What company level goal does this request support:
[%+ cgi.param("goal") %]

Explain the impact of fulfilling this request, in terms of the company goal:
[%+ cgi.param("impact") || "-" %]

:: What data can help achieve the goals

Where does the data come from?
[%+ cgi.param("source") %]

What data elements do you need?
[%+ cgi.param("elements") %]

Are there any complex calculations you need?
[%+ cgi.param("calculations") %]

Does your data need to be publicly accessible?
[%+ cgi.param("public") %]

How frequently does the data need to be refreshed?
[%+ cgi.param("frequency") %]

:: Data delivery method(s)

[% FOREACH interface = cgi.param("interface") %]
[% interface %]
[% END %]
