[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  PROCESS global/variables.none.tmpl;
  PROCESS global/header.html.tmpl
    title              = "Mozilla Corporation Legal Requests"
    style_urls         = [ 'extensions/BMO/web/forms/legal.css' ]
    javascript_urls    = [ 'extensions/BMO/web/forms/legal.js' ]
    generate_api_token = 1
  ;

  UNLESS user.in_group("mozilla-employee-confidential")
    OR user.in_group("mozilla-messaging-confidential")
    OR user.in_group("mozilla-foundation-confidential")
  ;
    "<p>Sorry, you do not have access to this page.</p>";
    PROCESS global/footer.html.tmpl;
    RETURN;
  END;
  PROCESS start_form;

  panels = [
    {
          id        = "nda"
          title     = "NDA"
          desc      = "For companies, contractors or contributors."
          component = "NDA"
          assignee  = ""
    },
    {
          id        = "content"
          title     = "Content Removal"
          desc      = "For questions on content removal or block requests."
          component = "Content Deals"
          assignee  = "udevi@mozilla.com"
    },
    {
          id        = "data"
          title     = "Data, Privacy, or Security "
          desc      = "For vendor reviews, changes to how data is collected or handled, surveys, emails, etc. "
          component = "Privacy"
          assignee  = "merwin@mozilla.com"
    },
    {
          id        = "engagement"
          title     = "Engagement, Contest, or Event"
          desc      = "For copy review (webpages, videos, etc.), email or SMS campaigns, website review " _
                      "(footer, site licensing, image use, disclaimers), event requests, contests, etc."
          component = "Engagement"
    },
    {
          id        = "employment"
          title     = "Employment or Contractor Request"
          desc      = "For requests related to <a href=\"https://intranet.mozilla.org/Conflicts_of_Interest\">" _
                      "conflict of interest</a> or <a href=\"https://mana.mozilla.org/wiki/pages/viewpage.action?" _
                      "pageId=34015117\">independent contractors</a>."
          component = "Human Resources/Employment"
    },
    {
          id        = "fxos"
          title     = "FirefoxOS device branding"
          desc      = "For changes to the Mozilla Branding Requirements"
          component = "Firefox OS"
          assignee  = "gpiper@mozilla.com"
          cc        = "jgarver@mozilla.com, jbernard@mozilla.com"
    },
    {
          id        = "ip"
          title     = "Intellectual Property"
          desc      = "For issues on licenses, patents, copyrights, trademarks, open source, standards, etc."
          component = "Trademark"
    },
    {
          id        = "research"
          title     = "Mozilla Research Project"
          desc      = "For projects in the CTO office."
          component = "General"
          assignee  = "gpiper@mozilla.com"
    },
    {
          id        = "other"
          title     = "Other"
          component = "Other Product"
          cc        = "udevi@mozilla.com, liz@mozilla.com, aphillips@mozilla.com, gpiper@mozilla.com"
          assignee  = "nobody@mozilla.org"
    },
  ];

  fields = [];
%]

[%#
  # start
  #%]

[% WRAPPER panel
    id = "start"
%]
  <h1>MoLegal</h1>

  <p>
    <b>Welcome to MoLegal.</b> For legal help please fill in the form
    below completely.
    </p>

  <p>
    Legal [% terms.bugs %] are only visible to the reporter,  members of the
    legal team, and those on the CC list. This is necessary to maintain
    attorney-client privilege. Please do not add non-employees to the cc list.
  </p>

  <p>
    <b>All Submissions, And Information Provided In Response To This Request,
    Are Confidential And Subject To The Attorney-Client Privilege And Work
    Product Doctrine.</b>
  </p>

  <hr>

  <p class="q">
    Is this a contract?
    <input type="radio" name="contract" id="contract-yes-rb"> <label for="contract-yes-rb">Yes</label>
    <input type="radio" name="contract" id="contract-no-rb"> <label for="contract-no-rb">No</label>
  </p>

  <div id="contract-yes" style="display:none">
    <p>
      For <b>Mozilla Foundation</b> contracts file a
      <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20Foundation%20Operations">
        Mozilla Foundation Operations [% terms.Bug %]</a>
    </p>
    <p>
      For <b>Mozilla Corporation</b> contracts file a
      <a href="https://bugzilla.mozilla.org/form.moz-project-review">
        Mozilla Corporation Project Kickoff [% terms.Bug %]</a>
    </p>
  </div>

  <div id="contract-no" style="display:none">
    For all non-contractual legal and data issues, select from the list below:
    <ul>
      [% FOREACH panel IN panels %]
        <li class="start-option">
          <a href="#" data-for="[% panel.id FILTER none %]" class="q">[% panel.title FILTER html %]</a>
          <div class="start-option-desc">[% panel.desc FILTER none %]</div>
        </li>
      [% END %]
    </ul>
  </div>
[% END %]

[%#
  # nda
  #%]

[% WRAPPER panel
    id = "nda"
%]
  [% prefix = "nda" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 1
      options  = [
        { value = "Vendor/Partner NDA" }
        { value = "Contributor NDA"    }
      ]
  %]
  [% PROCESS select
      id       = "product"
      label    = "Which product?"
      required = 1
      options  = [
        {
          value = "Cloud Services"
             cc = "udevi@mozilla.com"
        }
        {
          value = "Content Services"
             cc = "gpiper@mozilla.com, udevi@mozilla.com"
        }
        {
          value = "Firefox"
             cc = "gpiper@mozilla.com, udevi@mozilla.com"
        }
        {
          value = "Firefox Marketplace"
             cc = "udevi@mozilla.com"
        }
        {
          value = "Firefox Addons"
             cc = "udevi@mozilla.com"
        }
        {
          value = "FirefoxOS"
             cc = "gpiper@mozilla.com"
        }
        {
          value = "Foundation"
             cc = "aphillips@mozilla.com"
        }
        {
          value = "Geolocation"
             cc = "udevi@mozilla.com"
        }
        {
          value = "Hello"
             cc = "udevi@mozilla.com"
        }
        {
          value = "MDN"
             cc = "udevi@mozilla.com"
        }
        {
          value = "Mozilla Virtual Reality"
             cc = "gpiper@mozilla.com"
        }
        {
          value = "Other"
             cc = "liz@mozilla.com, gpiper@mozilla.com, udevi@mozilla.com, aphillips@mozilla.com"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "mozilla_info"
      label    = "What confidential information is Mozilla sharing with the Vendor/Partner/Contributor?"
      required = 1
  %]
  [% PROCESS textarea
      id       = "vendor_info"
      label    = "What confidential information is the Vendor/Partner sharing with Mozilla?"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # content
  #%]

[% WRAPPER panel
    id = "content"
%]
  [% prefix = "content" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 1
      options  = [
        {
            value = "Bugzilla"
               cc = "glob@mozilla.com, dkl@mozilla.com"
          keyword = "legal-removal-system-bugzilla"
        }
        {
            value = "Firefox Addon"
               cc = "jorge@mozilla.com"
          keyword = "legal-removal-system-firefox-addon"
        }
        {
            value = "Firefox Friends"
               cc = "williamr@mozilla.com, josorio@mozilla.com"
          keyword = "legal-removal-system-firefox-friends"
        }
        {
            value = "Firefox Theme"
               cc = "atsay@mozilla.com"
          keyword = "legal-removal-system-firefox-theme"
        }
        {
            value = "Foundation Product"
               cc = "aphillips@mozilla.com, bobby@mozillafoundation.org, andrews@mozillafoundation.org"
          keyword = "legal-removal-system-foundation"
        }
        {
            value = "Marketplace App or Website"
               cc = "adora@mozilla.com"
          keyword = "legal-removal-system-marketplace"
        }
        {
            value = "MDN"
               cc = "aspivak@mozilla.com"
          keyword = "legal-removal-system-mdn"
        }
        {
            value = "Other"
               cc = ""
          keyword = "legal-removal-system-other"
        }
      ]
  %]
  [% PROCESS select
      id       = "reason"
      label    = "Reason for removal:"
      required = 1
      options  = [
        {
            value = "DMCA"
          keyword = "legal-removal-reason-dmca"
        }
        {
            value = "Trademark"
          keyword = "legal-removal-reason-trademark"
        }
        {
            value = "Terms of Service violation"
          keyword = "legal-removal-reason-tos"
        }
        {
            value = "Not intended to be public"
          keyword = "legal-removal-reason-confidential"
        }
        {
            value = "Other"
          keyword = "legal-removal-reason-other"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # data
  #%]

[% WRAPPER panel
    id = "data"
%]
  [% prefix = "data" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 1
      options  = [
        {
            value = "Cloud & Location Services"
               cc = "tblow@mozilla.com, udevi@mozilla.com"
        }
        {
            value = "Content Services"
               cc = "kghim@mozilla.com, edilee@mozilla.com, gpiper@mozilla.com"
        }
        {
            value = "Engagement"
               cc = "williamr@mozilla.com, udevi@mozilla.com"
        }
        {
            value = "Feedback (crash stats, SUMO, etc)"
               cc = "chris.lonnen@gmail.com, udevi@mozilla.com"
        }
        {
            value = "Firefox"
               cc = "benjamin@smedbergs.us, gpiper@mozilla.com"
        }
        {
            value = "Firefox Addons"
               cc = "udevi@mozilla.com"
        }
        {
            value = "Firefox Marketplace"
               cc = "udevi@mozilla.com"
        }
        {
            value = "Firefox OS"
               cc = "jonas@sicking.cc, rdandu@mozilla.com, gpiper@mozilla.com"
        }
        {
            value = "Foundation"
               cc = "adam@mozillafoundation.org, aphillips@mozilla.com"
        }
        {
            value = "Hello"
               cc = "benjamin@smedbergs.us, udevi@mozilla.com"
        }
        {
            value = "IT"
               cc = "udevi@mozilla.com"
        }
        {
            value = "Metrics"
               cc = "sguha@mozilla.com, udevi@mozilla.com"
        }
        {
            value = "MDN"
               cc = "udevi@mozilla.com"
        }
        {
            value = "Platform"
               cc = "mcote@mozilla.com, dougt@mozilla.com, gpiper@mozilla.com"
        }
        {
            value = "Survey"
               cc = "udevi@mozilla.com"
        }
        {
            value = "Other"
               cc = "merwin@mozilla.com"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # engagement
  #%]

[% WRAPPER panel
    id = "engagement"
%]
  [% prefix = "engagement" %]
  [% PROCESS select
      id       = "channel"
      label    = "Which channel?"
      required = 0
      options  = [
        {
             value = "Advertisement"
          assignee = "udevi@mozilla.com"
        }
        {
             value = "Campaign"
          assignee = "udevi@mozilla.com"
        }
        {
             value = "Contest"
          assignee = "liz@mozilla.com"
        }
        {
             value = "Email or SMS"
          assignee = "udevi@mozilla.com"
        }
        {
             value = "Event - MoCo sponsored"
          assignee = "liz@mozilla.com"
        }
        {
             value = "Event - MoFo sponsored"
          assignee = "aphillips@mozilla.com"
        }
        {
             value = "Snippet"
          assignee = "udevi@mozilla.com"
        }
        {
             value = "Social media share"
          assignee = "udevi@mozilla.com"
        }
        {
             value = "Website"
          assignee = "udevi@mozilla.com"
        }
      ]
  %]
  [% PROCESS select
      id       = "product"
      label    = "Which product?"
      required = 1
      options  = [
        {
             value = "Accounts, Sync, Reading List"
                cc = "udevi@mozilla.com"
        }
        {
             value = "AMO or Marketplace"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Content Services"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Firefox (iOS, Fennec, Desktop)"
                cc = "gpiper@mozilla.com, udevi@mozilla.com"
        }
        {
             value = "FirefoxOS"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Foundation"
                cc = "abigail@mozillafoundation.org"
        }
        {
             value = "Geolocation"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Hello"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Mozilla Virtual Reality"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Other"
                cc = "liz@mozilla.com, gpiper@mozilla.com, udevi@mozilla.com, aphillips@mozilla.com"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # employment
  #%]

[% WRAPPER panel
    id = "employment"
%]
  [% prefix = "employment" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 1
      options  = [
        {
             value = "MoCo - Independent Contractor"
          assignee = "emederer@mozilla.com"
        }
        {
             value = "MoFo - Independent Contractor"
          assignee = "aphillips@mozilla.com"
        }
        {
             value = "Employee conflict of interest"
          assignee = "jill@mozilla.com"
        }
        {
             value = "Other"
          assignee = "emederer@mozilla.com"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # fxos
  #%]

[% WRAPPER panel
    id = "fxos"
%]
  [% prefix = "fxos" %]
  [% PROCESS textarea
      id       = "changes"
      label    = "What change(s) to the Mozilla Branding Requirements"
      required = 1
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # ip
  #%]

[% WRAPPER panel
    id = "ip"
%]
  [% prefix = "ip" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 0
      options  = [
        {
             value = "Copyright"
          assignee = "gpiper@mozilla.com"
        }
        {
             value = "Patent"
          assignee = "gpiper@mozilla.com"
        }
        {
             value = "Trademark/Naming"
          assignee = "liz@mozilla.com"
        }
        {
             value = "Licensing"
          assignee = "gpiper@mozilla.com"
        }
        {
             value = "Open Source"
          assignee = "gpiper@mozilla.com"
        }
        {
             value = "Standards"
          assignee = "gpiper@mozilla.com"
        }
      ]
  %]
  [% PROCESS select
      id       = "product"
      label    = "Which product?"
      required = 1
      options  = [
        {
             value = "Cloud Services"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Content Services"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Firefox"
                cc = "udevi@mozilla.com, gpiper@mozilla.com"
        }
        {
             value = "Firefox Marketplace"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Firefox Addons"
                cc = "udevi@mozilla.com"
        }
        {
             value = "FirefoxOS"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Foundation"
                cc = "aphillips@mozilla.com"
        }
        {
             value = "Geolocation"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Hello"
                cc = "udevi@mozilla.com"
        }
        {
             value = "MDN"
                cc = "udevi@mozilla.com"
        }
        {
             value = "Mozilla Virtual Reality"
                cc = "gpiper@mozilla.com"
        }
        {
             value = "Other"
                cc = "liz@mozilla.com, gpiper@mozilla.com, udevi@mozilla.com, aphillips@mozilla.com"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # research
  #%]

[% WRAPPER panel
    id = "research"
%]
  [% prefix = "research" %]
  [% PROCESS select
      id       = "relate"
      label    = "What does this relate to?"
      required = 1
      options  = [
        {
             value = "RUST"
        }
        {
             value = "Servo"
        }
        {
             value = "Shumway"
        }
        {
             value = "Emscripten"
        }
        {
             value = "Daala"
        }
        {
             value = "sweet.js"
        }
        {
             value = "broadway.js"
        }
        {
             value = "Parallel JavaScript"
        }
        {
             value = "asm.js"
        }
        {
             value = "Other"
        }
      ]
  %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[%#
  # other
  #%]

[% WRAPPER panel
    id = "other"
%]
  [% prefix = "other" %]
  [% PROCESS textarea
      id       = "desc"
      label    = "Please describe the issue:"
      required = 1
  %]
  [% PROCESS textarea
      id       = "dates"
      label    = "Important Dates:"
      required = 1
  %]
[% END %]

[% PROCESS end_form %]
[% PROCESS global/footer.html.tmpl %]

[%#
  # blocks
  #%]

[% BLOCK start_form %]
  <form method="post" action="post_bug.cgi" id="legalForm" enctype="multipart/form-data">
  <input type="hidden" name="product" value="Legal">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="version" value="unspecified">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="bug_severity" value="normal">
  <input type="hidden" name="format" value="legal">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="bug_status" value="NEW">

  <input type="hidden" name="short_desc" id="short_desc">
  <input type="hidden" name="assigned_to" id="assigned_to" value="nobody@mozilla.org">
  <input type="hidden" name="component" id="component" value="">
  <input type="hidden" name="cc" id="cc" value="">
  <input type="hidden" name="keywords" id="keywords" value="">
[% END %]

[% BLOCK end_form %]
  <input type="hidden" name="prefix" id="prefix" value="">
  <input type="hidden" name="all_fields" id="all_fields" value="[% fields.join(" ") FILTER html %]">
  <input type="hidden" name="fields" id="fields" value="">
  </form>
[% END %]

[% BLOCK panel %]
  [%
    FOREACH p IN panels;
      IF p.id == id;
        panel = p;
        LAST;
      END;
    END;
    prefix = id;
  %]
  <div id="[% id FILTER none %]" class="panel" style="display:none"
    data-prefix="[% prefix FILTER none %]"
    data-component="[% panel.component FILTER html %]"
    data-assignee="[% panel.assignee FILTER html %]"
    data-cc="[% panel.cc FILTER html %]"
  >
    [% IF id != "start" %]
      <h1>[% panel.title FILTER html %]</h1>
      <div class="panel-desc">[% panel.desc FILTER none %]</div>
      [% PROCESS field
          id         = "summary"
          label      = "Short summary of the issue:"
          no_comment = 1
      %]

    [% END %]

    [% content FILTER none %]

    [% IF id != "start" %]
      <input type="submit" id="submit" value="Submit"><br>
      <br>[% INCLUDE required_indicator %] Mandatory field<br>
      <a href="#" class="return-to-start">Return to start</a>
    [% END %]
  </div>
[% END %]

[% BLOCK select %]
  [%
    field_id  = prefix _ "-" _ id;
    fields.push(field_id) UNLESS no_comment;
    has_other = 0;
  %]
  <div class="question">
    <div class="label">
      [% label FILTER html %]
      [% INCLUDE required_indicator %]
    </div>
    <input type="hidden" name="[% field_id FILTER none %]_label" value="[% label FILTER html %]">
    <select name="[% field_id FILTER none %]" id="[% field_id FILTER none %]"
      data-required="[% required ? "1" : "" %]"
    >
      <option value=""></option>
      [% FOREACH option IN options %]
        <option value="[% option.value FILTER html %]"
          [% IF option.cc %] data-cc="[% option.cc FILTER html %]" [% END %]
          [% IF option.keyword %] data-keyword="[% option.keyword FILTER html %]" [% END %]
          [% IF option.assignee %] data-assignee="[% option.assignee FILTER html %]" [% END %]
          [% IF option.value == "Other" %] data-other="[% field_id FILTER none %]-other" [% END %]
        >
          [% option.value FILTER html %]
          [%
            IF option.value == "Other";
              has_other = 1;
            END;
          %]
        </option>
      [% END %]
    </select>
    [% IF has_other %]
      <input type="text"
        name="[% field_id FILTER none %]-other" id="[% field_id FILTER none %]-other"
        class="other" style="display:none" disabled>
    [% END %]
  </div>
[% END %]

[% BLOCK field %]
  [%
    field_id = prefix _ "-" _ id;
    fields.push(field_id) UNLESS no_comment;
  %]
  <div class="question">
    <div class="label">
      [% label FILTER html %]
      [% INCLUDE required_indicator %]
    </div>
    <input type="hidden" name="[% field_id FILTER none %]_label" value="[% label FILTER html %]">
    <input type="text" name="[% field_id FILTER none %]" id="[% field_id FILTER none %]"
      data-required="[% required ? "1" : "" %]">
  </div>
[% END %]

[% BLOCK textarea %]
  [%
    field_id = prefix _ "-" _ id;
    fields.push(field_id) UNLESS no_comment;
  %]
  <div class="question">
    <div class="label">
      [% label FILTER html %]
      [% INCLUDE required_indicator %]
    </div>
    <input type="hidden" name="[% field_id FILTER none %]_label" value="[% label FILTER html %]">
    <textarea name="[% field_id FILTER none %]" id="[% field_id FILTER none %]" rows="3" cols="40"
      data-required="[% required ? "1" : "" %]"></textarea>
  </div>
[% END %]

[% BLOCK required_indicator %]
  [% RETURN UNLESS required %]
  <span class="required" title="This field is mandatory.">*</span>
[% END %]
