[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% inline_css = BLOCK %]
  .section {
    margin-left: 2em;
  }

  .field_label {
    margin-top: 1.5em;
    display: block;
    text-align: left;
  }

  .field_desc {
    font-style: italic;
  }

  .field input:not([size]), .field textarea {
    width: 50em;
  }

  .submit {
    margin-top: 2em;
  }

  .required:after {
    content: " *";
    color: red;
  }
[% END %]

[% inline_js = BLOCK %]
var Dom = YAHOO.util.Dom;

function onSubmit() {
  var alert_text = '';

  if (!isFilledOut('short_desc')) alert_text += '- the primary objective\n';
  if (!isFilledOut('audience')) alert_text += '- the audience for this data\n';
  if (!isFilledOut('project')) alert_text += '- your part of the Mozilla project\n';
  if (!isFilledOut('impact_number')) alert_text += '- impact level\n';
  if (!isFilledOut('due_date')) alert_text += '- due date\n';
  if (!isFilledOut('goal')) alert_text += '- company goal\n';

  if (!isFilledOut('source')) alert_text += '- the source of the data\n';
  if (!isFilledOut('elements')) alert_text += '- the required data elements\n';
  if (!isFilledOut('calculations')) alert_text += '- any complex calculations\n';

  if (!isFilledOut('calculations')) alert_text += '- any complex calculations\n';
  if (!isOneChecked(Dom.get('bug_form').interface)) alert_text += '- any interfaces to your data\n';
  if (!isFilledOut('public')) alert_text += '- if your data needs to be publicly accessible\n';
  if (!isFilledOut('frequency')) alert_text += '- the frequency the data needs to be refreshed\n';

  if (alert_text != '') {
    alert('Please provide:\n' + alert_text);
    return false;
  }
  return true;
}
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Developer Events Request Form"
   style = inline_css
   style_urls = [ 'skins/standard/enter_bug.css' ]
   javascript = inline_js
   javascript_urls = [ 'extensions/BMO/web/js/form_validate.js', 'js/field.js', 'js/util.js' ]
   yui = [ 'calendar' ]
%]

<h2>Data & BI Services Request Form</h2>

<p>
  <span class="required">&nbsp;</span> indicates required fields.
</p>

<form method="post" action="post_bug.cgi" id="bug_form" class="enter_bug_form"
      enctype="multipart/form-data" onsubmit="return onSubmit();">
<input type="hidden" name="format" value="dbi">
<input type="hidden" name="product" value="Data &amp; BI Services Team">
<input type="hidden" name="component" value="Customer Request (Master Bug)">
<input type="hidden" name="rep_platform" value="All">
<input type="hidden" name="op_sys" value="All">
<input type="hidden" name="priority" value="--">
<input type="hidden" name="version" value="Customer Request">
<input type="hidden" name="bug_status" id="bug_status" value="UNCONFIRMED">
<input type="hidden" name="bug_severity" id="bug_severity" value="normal">
<input type="hidden" name="comment" id="comment" value="">
<input type="hidden" name="status_whiteboard" id="status_whiteboard" value="">
<input type="hidden" name="bug_file_loc" id="bug_file_loc" value="">
<input type="hidden" name="token" value="[% token FILTER html %]">

<h3>
  First, tell us what you're trying to accomplish
</h3>

<div class="section">

  <div class="field">
    <label class="field_label required" for="short_desc">
      Primary Objective
    </label>
    <div class="field_desc">
      e.g.: "I want to have more information to aid in partner negotiations."
    </div>
    <input type="text" name="short_desc" id="short_desc">
  </div>

  <div class="field">
    <label class="field_label required" for="audience">
      Who is the audience for this data?
    </label>
    <div class="field_desc">
      e.g.: "Engagement team", or "Product managers"
    </div>
    <input type="text" name="audience" id="audience">
  </div>

  <div class="field">
    <label class="field_label required" for="project">
      What part of the project are you in?
    </label>
    <select name="cf_mozilla_project" id="project">
      [% FOREACH value = mozilla_project.legal_values %]
        [% NEXT IF !value.is_active %]
        [% v = value.name == "---" ? "" : value.name %]
        <option value="[% v FILTER html %]">
          [% v FILTER html %]
        </option>
      [% END %]
    </select>
  </div>

  <div class="field">
    <label class="field_label required" for="impact_number">
      If you acheive this goal, what level of impact will it have on Mozilla?
    </label>
    <div class="field_desc">
      1-50 where 1 = little to no impact and 50 = transformative for all of Mozilla
    </div>
    <input type="text" name="impact_number" id="impact_number" size="10">
  </div>

  <div class="field">
    <label class="field_label required" for="due_date">
      When do you need this completed by?
    </label>
    <input name="cf_due_date" size="10" id="due_date" value=""
           onchange="updateCalendarFromField(this)">
    <button type="button" class="calendar_button"
            id="button_calendar_due_date"
            onclick="showCalendar('due_date')">
      <span>Calendar</span>
    </button>
    <div id="con_calendar_due_date"></div>
    <script type="text/javascript">
      createCalendar('due_date')
    </script>
  </div>

  <div class="field">
    <label class="field_label required" for="goal">
      What company level goal does this request support?
    </label>
    <textarea name="goal" id="goal" rows="5">
      [%~ %]Request does not support a company level goal.[% ~%]
    </textarea>
  </div>

  <div class="field">
    <label class="field_label" for="impact">
      Please explain the impact of fulfilling this request, in terms of the
      company goal, if applicable.
    </label>
    <textarea name="impact" id="impact" rows="5"></textarea>
  </div>

</div>

<h3>
  Now tell us what data can help achieve your objectives
</h3>

<div class="section">

  <div class="field">
    <label class="field_label required" for="source">
      Where does the data come from?
    </label>
    <div class="field_desc">
      e.g.: "Blocklist Pings" or "Workday" or "I don't know"
    </div>
    <input type="text" name="source" id="source">
  </div>

  <div class="field">
    <label class="field_label required" for="elements">
      What data elements do you need?
    </label>
    <div class="field_desc">
      e.g.: "Product Name, Channel, Ping Date"
    </div>
    <input type="text" name="elements" id="elements">
  </div>

  <div class="field">
    <label class="field_label required" for="calculations">
      Are there any complex calculations you need?
    </label>
    <div class="field_desc">
      e.g.: "Retention percentage"
    </div>
    <input type="text" name="calculations" id="calculations">
  </div>

  <div class="field">
    <label class="field_label required" for="public">
      Does your data need to be publicly accessible?
    </label>
    <div class="field_desc">
      May require privacy review.
    </div>
    <select name="public" id="public">
      <option value=""></option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>

  <div class="field">
    <label class="field_label required" for="frequency">
      How frequently does the data need to be refreshed?
    </label>
    <select name="frequency" id="frequency">
      <option value=""></option>
      <option value="Never">Never. This is a one-off request</option>
      <option value="Immediately">Immediately / Live source</option>
      <option value="Daily">Daily</option>
      <option value="Weekly">Weekly</option>
      <option value="Monthly">Monthly</option>
      <option value="Quarterly">Quarterly</option>
      <option value="Annually">Annually</option>
    </select>
  </div>

</div>

<h3>
  Now tell us how you'd like your data delivered
</h3>

<div class="section">

  <p>
    We have many delivery methods. If your preferred delivery method is not
    listed or you have ideas for a new one let us know!
  </p>

  <div class="field">
    <label class="field_label required">
      How do you want to interface with your data?
    </label>
    <div class="field_desc">
      Check all that apply.
    </div>
    [%
      interfaces = [
        { value = "Tableau Dashboard", label = "Tableau Dashboard" },
        { value = "SQL Queries", label = "SQL Queries (eg. Data Warehouse)" },
        { value = "Self-Service", label = "Self-Service" },
        { value = "D3 Dashboard", label = "D3 Dashboard" },
        { value = "Email Report", label = "Email Report" },
        { value = "Comma Separated Values", label = "Comma Separated Values (flat file)" },
        { value = "Tab Separated Values", label = "Tab Separated Values (flat file)" },
        { value = "Excel File", label = "Excel File" },
        { value = "JSON", label = "JSON (flat file)" },
      ]
    %]
    [% FOREACH interface = interfaces %]
      <input type="checkbox" name="interface" id="int_[% loop.count %]"
             value="[% interface.value FILTER html %]" size="">
      <label for="int_[% loop.count %]">
        [% interface.label FILTER html %]
      </label>
      <br>
    [% END %]
  </div>

</div>

<div class="submit">
  <input type="submit" id="commit" value="Submit Request">
</div>

</form>

[% PROCESS global/footer.html.tmpl %]
