[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% RETURN UNLESS event.action == 'requested'
      && (event.type.name == 'review' || event.type.name == 'feedback')
      && event.attachment && event.attachment.can_review %]

Review [%+ Bugzilla.splinter_review_url(bug.id, event.attachment_id, 1) FILTER none %]
