[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Community IT Discourse Request"
   style_urls = [ "extensions/REMO/web/styles/moz_reps.css" ]
%]

[% USE Bugzilla %]
[% mandatory = '<span class="mandatory" title="Required">*</span>' %]

<script type="text/javascript">
var Dom = YAHOO.util.Dom;

function mandatory(elements) {
  result = true;
  for (i in elements) {
    element = elements[i];
    el = Dom.get(element);
    value = el.value.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
    el.value = value;
    if (value == '') {
      Dom.addClass(element, 'missing');
      result = false;
    } else {
      Dom.removeClass(element, 'missing');
    }
  }
  return result;
}
function submitForm() {
  fields = [
    'name',
    'mozillian',
    'community',
    'discourse_names',
    'discourse_mods'
  ];
  if (!mandatory(fields)) {
    alert('Please enter all the required fields.');
    return false;
  }

  Dom.get('short_desc').value =
    "IT Discourse Request: " + Dom.get('community').value + ' (' + Dom.get('name').value + ')';
  return true;
}
</script>

<noscript>
<h1>Javascript is required to use this form.</h1>
</noscript>

<h1>Community IT Discourse Request</h1>

<form method="post" action="post_bug.cgi" id="tmRequestForm" name="f">
<input type="hidden" name="product" value="Infrastructure & Operations">
<input type="hidden" name="component" value="Community IT: Discourse">
<input type="hidden" name="bug_severity" value="normal">
<input type="hidden" name="rep_platform" value="All">
<input type="hidden" name="priority" value="--">
<input type="hidden" name="op_sys" value="Other">
<input type="hidden" name="version" value="other">
<input type="hidden" name="format" value="[% format FILTER html %]">
<input type="hidden" name="comment" id="comment" value="">
<input type="hidden" name="short_desc" id="short_desc" value="">
<input type="hidden" name="token" value="[% token FILTER html %]">

<table id="reps-form">

<tr class="odd">
  <th>Your Name:[% mandatory FILTER none %]</th>
  <td><input id="name" name="name" size="40" value="[% user.name FILTER html %]"></td>
</tr>

<tr class="even">
  <th>Mozillians.org Profile:[% mandatory FILTER none %]</th>
  <td><input id="mozillian" name="mozillian" size="40"></td>
</tr>

<tr class="odd">
  <th>Reps Profile (if applicable):</th>
  <td><input id="reps" name="reps" size="40"></td>
</tr>

<tr class="even">
  <th>Your Community's Name:[% mandatory FILTER none %]</th>
  <td><input id="community" name="community" size="40"></td>
</tr>

<tr class="odd">
  <th>Discourse Category Names:[% mandatory FILTER none %]</th>
  <td><input id="discourse_names" name="discourse_names" size="40"></td>
</tr>

<tr class="even">
  <th>Moderators:[% mandatory FILTER none %]</th>
  <td><input id="discourse_mods" name="discourse_mods" size="40"></td>
</tr>

<tr class="odd">
  <th>Hex code of background of category tag:</th>
  <td><input id="discourse_bg" name="discourse_bg" size="40"></td>
</tr>

<tr class="even">
  <th colspan="2">
    Other Comments
  </th>
</tr>

<tr class="odd">
  <td colspan="2">
    Please explain anything else this form does not include.
    <br>
    <textarea id="comments" name="comments" rows="4"></textarea>
  </td>
</tr>

<tr class="even">
  <td colspan="2">
    <input id="submit" type="submit" value="Submit" onclick="return submitForm()">
  </td>
</tr>

</table>

</form>

[% PROCESS global/footer.html.tmpl %]
