[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "jira_bug_id_required" %]
  [% title = "Bug ID Required" %]
  A [% terms.bug %] ID is required for the Jira issue.

[% ELSIF error == "jira_url_required" %]
  [% title = "Jira Url Required or Invalid" %]
  A Jira issue url was missing or is not a valid url.

[% ELSIF error == "jira_project_key_required" %]
  [% title = "Jira Project Key Required" %]
  A Jira project key is required.

[% END %]
