.htaccess
/lib/*
/template/en/custom
/docs/en/rst/extensions/*
/docs/en/rst/api/extensions/*
/docs/en/html
/docs/en/txt
/docs/en/pdf
/skins/custom
/graphs
/data
/localconfig
/localconfig.*
/cpanfile
/index.html
/error_reports
/.DS_Store
/template_cache

/skins/contrib/Dusk/admin.css
/skins/contrib/Dusk/bug.css
