# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

services:
  bmo.test:
    platform: linux/x86_64
    build: &build_bmo
      context: .
      dockerfile: Dockerfile
      target: test
    command: dev_httpd
    tmpfs:
      - /tmp
      - /run
    environment:
      - "BMO_inbound_proxies=*"
      - BMO_db_host=bmo.db
      - BMO_db_name=bugs
      - BMO_db_pass=bugs
      - BMO_db_user=bugs
      - BMO_memcached_namespace=bugzilla
      - BMO_memcached_servers=memcached:11211
      - BMO_ses_username=ses@mozilla.bugs
      - BMO_ses_password=password123456789!
      - BMO_urlbase=AUTOMATIC
      - BUGZILLA_ALLOW_INSECURE_HTTP=1
      - BZ_ANSWERS_FILE=/app/conf/checksetup_answers.txt
      - BZ_QA_CONF_FILE=/app/qa/config/selenium_test.conf
      - BZ_QA_CONFIG=1
      - CI=1
      - LOCALCONFIG_ENV=1
      - LOG4PERL_CONFIG_FILE=log4perl-test.conf
      - LOGGING_PORT=5880
      - PORT=8000
    depends_on:
      - externalapi.test
      - bmo.db
      - memcached
      - s3
      - gcs
      - bq

  externalapi.test:
    platform: linux/x86_64
    build: *build_bmo
    entrypoint: perl /app/external_test_api.pl daemon -l http://*:8001
    ports:
      - 8001:8001

  # Update to the same version of MySQL as what is in Terraform if changed
  # https://github.com/mozilla-it/webservices-infra/blob/main/bugzilla/tf/dev/mysql.tf
  # https://github.com/mozilla-it/webservices-infra/blob/main/bugzilla/tf/prod/locals.tf
  # https://github.com/mozilla-it/webservices-infra/blob/main/bugzilla/tf/stage/mysql.tf
  bmo.db:
    platform: linux/amd64
    image: mysql:8.0.42
    tmpfs:
      - /tmp
    logging:
      driver: "none"
    environment:
      - MYSQL_DATABASE=bugs
      - MYSQL_USER=bugs
      - MYSQL_PASSWORD=bugs
      - MYSQL_ALLOW_EMPTY_PASSWORD=1

  memcached:
    platform: linux/amd64
    image: ghcr.io/ghcr-library/memcached:latest

  s3:
    platform: linux/amd64
    image: scireum/s3-ninja

  gcs:
    platform: linux/amd64
    image: fsouza/fake-gcs-server
    command: "-scheme http"
    volumes:
      - ./docker/gcs/attachments:/data/attachments
      - ./docker/gcs/sitemapindex:/data/sitemapindex
      - ./docker/gcs/mining:/data/mining

  bq:
    platform: linux/amd64
    build:
      context: ./docker/bigquery
      dockerfile: Dockerfile
    ports:
      - 9050:9050
    working_dir: /work
    command: |
      --project=test --data-from-yaml=/data.yaml
