# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

services:
  bmo.test:
    platform: linux/x86_64
    build: &bmo_build
      context: .
      dockerfile: Dockerfile
      target: base
    command: dev_httpd
    volumes:
      - bmo-data-dir:/app/data
      - .:/mnt/sync
    tmpfs:
      - /tmp
      - /run
    environment: &bmo_env
      - "BMO_inbound_proxies=*"
      - BMO_db_host=bmo.db
      - BMO_db_name=bugs
      - BMO_db_pass=bugs
      - BMO_db_user=bugs
      - BMO_memcached_namespace=bugzilla
      - BMO_memcached_servers=memcached:11211
      - BMO_ses_username=ses@mozilla.bugs
      - BMO_ses_password=password123456789!
      - BMO_size_limit=2000000
      - BMO_urlbase=http://localhost:8000/
      - BUGZILLA_ALLOW_INSECURE_HTTP=1
      - BZ_ANSWERS_FILE=/app/conf/checksetup_answers.txt
      - BZ_DUO_BACKEND_HOST=externalapi.test:8001
      - HTTP_BACKEND=morbo
      - LOCALCONFIG_ENV=1
      - LOG4PERL_CONFIG_FILE=log4perl-docker.conf
      - MOJO_LISTEN=http://*:8000
      - PORT=8000
      - X_SES_CONFIGURATION_SET=ConfigSet
    depends_on:
      - bmo.db
      - memcached
      - s3
      - gcs
      - bq
      - externalapi.test
    ports:
      - 8000:8000

  bmo.jobqueue:
    platform: linux/x86_64
    build: *bmo_build
    command: jobqueue
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.feed:
    platform: linux/x86_64
    build: *bmo_build
    command:
      - perl
      - extensions/PhabBugz/bin/phabbugz_feed.pl
      - start
      - "-d"
      - "-f"
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.pushd:
    platform: linux/x86_64
    build: *bmo_build
    command:
      - perl
      - extensions/Push/bin/bugzilla-pushd.pl
      - start
      - "-d"
      - "-f"
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.db:
    platform: linux/x86_64
    image: mysql:8
    volumes:
      - bmo-mysql-db:/var/lib/mysql
      - ./docker/mysql:/etc/mysql/conf.d
      #- /var/home/dkl/Downloads/bugs-05-08-24.sql:/docker-entrypoint-initdb.d/bugs.sql
    tmpfs:
      - /tmp
    logging:
      driver: "none"
    environment:
      - MYSQL_DATABASE=bugs
      - MYSQL_USER=bugs
      - MYSQL_PASSWORD=bugs
      - MYSQL_ALLOW_EMPTY_PASSWORD=1

  memcached:
    platform: linux/x86_64
    image: memcached:latest

  s3:
    platform: linux/x86_64
    image: scireum/s3-ninja
    volumes:
      - "bmo-s3-data:/home/sirius/data"

  gcs:
    platform: linux/x86_64
    image: fsouza/fake-gcs-server
    command: "-scheme http"
    volumes:
      - bmo-gcs-attachments:/data/attachments
      - bmo-gcs-sitemapindex:/data/sitemapindex
      - bmo-gcs-mining:/data/mining

  bq:
    platform: linux/x86_64
    image: ghcr.io/goccy/bigquery-emulator:latest
    ports:
      - 9050:9050
    volumes:
      - bmo-bigquery-data:/work
      - ./docker/bigquery/data.yaml:/data.yaml
    working_dir: /work
    command: |
      --project=test --data-from-yaml=/data.yaml --log-level=debug

  externalapi.test:
    platform: linux/x86_64
    build: *bmo_build
    entrypoint: perl /app/external_test_api.pl daemon -l http://*:8001
    ports:
      - 8001:8001

volumes:
  bmo-mysql-db:
  bmo-data-dir:
  bmo-s3-data:
  bmo-gcs-attachments:
  bmo-gcs-sitemapindex:
  bmo-gcs-mining:
  bmo-bigquery-data:
