# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

version: "3.4"

services:
  bmo.test:
    build: &bmo_build
      context: .
      dockerfile: Dockerfile
    command: dev_httpd
    volumes:
      - bmo-data-dir:/app/data
      - .:/mnt/sync
    tmpfs:
      - /tmp
      - /run
    environment: &bmo_env
      - "BMO_inbound_proxies=*"
      - BMO_db_host=bmo.db
      - BMO_db_name=bugs
      - BMO_db_pass=bugs
      - BMO_db_user=bugs
      - BMO_memcached_namespace=bugzilla
      - BMO_memcached_servers=memcached:11211
      - BMO_ses_username=ses@mozilla.bugs
      - BMO_ses_password=password123456789!
      - BMO_urlbase=http://bmo.test/
      - BUGZILLA_ALLOW_INSECURE_HTTP=1
      - BZ_ANSWERS_FILE=/app/conf/checksetup_answers.txt
      - HTTP_BACKEND=morbo
      - LOCALCONFIG_ENV=1
      - LOG4PERL_CONFIG_FILE=log4perl-docker.conf
      - MOJO_LISTEN=http://*:8000
      - PORT=8000
      - X_SES_CONFIGURATION_SET=ConfigSet
    depends_on:
      - bmo.db
      - memcached
      - s3
      - gcs
      - externalapi.test
    ports:
      - 8000:8000

  bmo.jobqueue:
    build: *bmo_build
    command: jobqueue
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.feed:
    build: *bmo_build
    command:
      - perl
      - extensions/PhabBugz/bin/phabbugz_feed.pl
      - start
      - "-d"
      - "-f"
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.pushd:
    build: *bmo_build
    command:
      - perl
      - extensions/Push/bin/bugzilla-pushd.pl
      - start
      - "-d"
      - "-f"
    volumes:
      - bmo-data-dir:/app/data
    tmpfs:
      - /tmp
      - /run
    environment: *bmo_env
    restart: always
    depends_on:
      - bmo.db
      - memcached

  bmo.db:
    image: mysql:8
    volumes:
      - bmo-mysql-db:/var/lib/mysql
      - ./docker/mysql:/etc/mysql/conf.d
    tmpfs:
      - /tmp
    logging:
      driver: "none"
    environment:
      - MYSQL_DATABASE=bugs
      - MYSQL_USER=bugs
      - MYSQL_PASSWORD=bugs
      - MYSQL_ALLOW_EMPTY_PASSWORD=1

  externalapi.test:
    image: bmo
    entrypoint: perl /app/external_test_api.pl daemon -l http://*:8000

  memcached:
    image: memcached:latest

  s3:
    image: scireum/s3-ninja
    volumes:
      - "bmo-s3-data:/home/sirius/data"

  gcs:
    image: fsouza/fake-gcs-server
    command: "-scheme http"
    volumes:
      - bmo-gcs-attachments:/data/attachments
      - bmo-gcs-sitemapindex:/data/sitemapindex
      - bmo-gcs-mining:/data/mining

  proxy:
    image: haproxytech/haproxy-alpine
    volumes:
      - ./docker/proxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "1080:1080"
    restart: always

volumes:
  bmo-mysql-db:
  bmo-data-dir:
  bmo-s3-data:
  bmo-gcs-attachments:
  bmo-gcs-sitemapindex:
  bmo-gcs-mining:
