[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "New Release"
   desc = "Adding Versions and Milestones for new Firefox releases"
%]

[% param_descs = {
    default_milestone_products =>
      "A one product per line list of the default products that require a new milestone for each Firefox release.",
    default_version_products =>
      "A one product per line list of the default products that require a new version for each Firefox release.",
  }
%]
