[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "OAuth2 Client"
   desc = "Configure as an OAuth2 Client for Authentication"
%]

[%
   param_descs = {
       oauth2_client_id     => "Your OAuth2 Client ID",
       oauth2_client_secret => "Your Oauth2 Client Secret"
   }
%]
