[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "OAuth2 Client"
   desc = "Configure as an OAuth2 Client for Authentication"
%]

[%
   param_descs = {
      oauth2_client_enabled       => "OAuth2 Client Enabled",
      oauth2_client_domain        => "OAuth2 Client Domain",
      oauth2_client_id            => "OAuth2 Client ID",
      oauth2_client_secret        => "Oauth2 Client Secret"
      oauth2_client_token_url     => "OAuth2 Client Access Token URL",
      oauth2_client_authorize_url => "OAuth2 Client Authorize URL",
      oauth2_client_userinfo_url  => "OAuth2 Client User Information URL",
      oauth2_client_scopes        => "OAuth2 Client Scopes Requested (space separated)",
   }
%]
