[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Reports"
   desc = "Configure reporting parameters"
%]

[% param_descs = {
    report_secbugs_active => "Enable or disable the security $terms.bugs report feature.",
    report_secbugs_emails =>
      "Comma delimited list of the email addresses that the security $terms.bugs report will be sent to.",
    report_secbugs_teams =>
      "A one team per line list of the teams the security $terms.bugs report will report on.",
    s3_mining_access_key_id =>
      "Access key ID for AWS S3 account used to store mining data for graph reports.",
    s3_mining_secret_access_key =>
      "Secret access key for AWS S3 account used to store mining data for graph reports.",
    s3_mining_bucket =>
      "Name of AWS S3 bucket to store mining data for graph reports."
  }
%]
