<p>
  For more information about the SecureMail Bugzilla Extension or on obtaining a key and how to get it into the right format, 
  see the <a href="[% urlbase FILTER none %]page.cgi?id=securemail/help.html">SecureMail Help Page</a>.
</p>
<p>
  <b>Note that Securemail will only be sent for groups which have had the "send secure mail" bit enabled.</b>
</p>
