<div>
  The issue tracker for Firefox.
</div>

<ul class="exits">
  <li>
    <div class="icon">
      <a href="https://support.mozilla.org/">
        <img src="/extensions/GuidedBugEntry/web/images/support.png" width="32" height="32">
      </a>
    </div>
    <div class="link">
      <a href="https://support.mozilla.org/">I need technical support</a>
      <p>
        Technical support for Firefox and other Mozilla products.
      </p>
    </div>
  </li>
  <li>
    <div class="icon">
      <a href="https://webcompat.com/issues/new">
        <img src="/extensions/GuidedBugEntry/web/images/webbug.png" width="32" height="32">
      </a>
    </div>
    <div class="link">
      <a href="https://webcompat.com/issues/new">Report an issue with a website that I use</a>
    </div>
  </li>
  <li>
    <div class="icon">
      <a href="https://ideas.mozilla.org/">
        <img src="/extensions/GuidedBugEntry/web/images/feedback.png" width="32" height="32">
      </a>
    </div>
    <div class="link last">
      <a href="https://connect.mozilla.org/">Provide feedback at Mozilla Connect</a>
      <p>
        Mozilla Connect is a collaborative space for ideas, feedback, and
        discussions that will help shape future product releases.
      </p>
    </div>
  </li>
</ul>
