[%
    title = "SecureMail"
    desc = "Configure SecureMail settings"
%]

[%
    param_descs = {
        gpg_base_dir => 'Ephemeral directory which will hold user gpg keys',
        gpg_cmd      => 'The full path to the GPG command',
        mail_delivery_override => 'The mail delivery method to use if the default mail method is Test and the User has override_test enabled. If this is unset then users will not be able to override the Test method.',
    }
%]

