/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

/**
 * BugModal
 */

#changeform #field-product .name,
#changeform #field-component .name {
  padding-top: 5px;
}

#changeform #field-value-product,
#changeform #field-value-component {
  display: flex;
  align-items: center;
}

#changeform #field-value-product .name-info-outer,
#changeform #field-value-component .name-info-outer {
  display: block;
  padding: 5px 0;
}

#changeform #field-value-product button,
#changeform #field-value-component button {
  margin-left: 20px;
}
