/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#create-account {
  display: flex;
}

#create-account .col {
  box-sizing: border-box;
}

#create-account h2 {
  margin: 0 0 16px;
}

#create-account h3 {
  margin: 0 0 4px;
}

#product-list {
  margin-bottom: 24px;
}

#product-list td {
  padding: 8px 0;
}

#product-list img {
  padding-right: 8px;
}

#right-blurb li {
  margin: 1em 0;
}

#create-account-form,
#create-account-form :is(tr, td) {
  display: block;
}

#create-account-form tbody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#create-account-form .label {
  margin: 4px 0;
  font-weight: bold;
}

#create-account-form .consent {
  display: flex;
  align-items: center;
  gap: 8px;
}

#create-account-form input {
  flex: none;
}

#verify-auto-account-creation {
  margin-bottom: 2em;
}

@media screen and (768px <= width) {
  #create-account .col {
    padding: 32px;
    width: 50%;
  }

  #create-account-left {
    border-right: 2px solid var(--primary-region-border-color);
  }
}

@media screen and (width < 768px) {
  #create-account {
    flex-direction: column;
  }

  #create-account .col {
    padding: 0;
    width: auto;
  }

  #create-account-left {
    border: 0;
  }

  #create-account-form :is(input[type="email"], input[type="submit"]) {
    width: 100%;
  }
}
