/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.hidden {
  display: none;
}

h1 {
  margin: 0 0 0.5em 0;
}

h2 {
  margin: 1em 0 0 0;
}

#auto_refresh-container {
  margin-bottom: 2em;
}

#parameters th {
  text-align: right;
  vertical-align: middle !important;
  font-weight: bold;
  padding-right: 0.5em;
}

#auto_refresh-container {
  margin-top: 1em;
}

.bug-list-header {
  margin: 1em 0 4px 0;
  display: flex;
  align-items: baseline;
  gap: 2em;
}

.bug-list-title {
  font-size: var(--font-size-h3);
  font-weight: 500;
  color: var(--secondary-label-color);
}

.bug-list-count {
  font-style: italic;
}

.bug-list {
  width: 100%;
}

.bug-list th {
  cursor: pointer;
  text-align: left;
  color: var(--secondary-label-color);
}

.bug-list th.sort-col {
  text-decoration: underline;
}

.bug-list th.sort-col.order-a::after {
  color: var(--tertiary-label-color);
  content: " ▲";
}

.bug-list th.sort-col.order-d::after {
  color: var(--tertiary-label-color);
  content: " ▼";
}

.bug-list .id,
.bug-list .priority,
.bug-list .severity,
.bug-list .status,
.bug-list .timestamp {
  white-space: nowrap;
  width: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-label-color);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
