/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#add_filter_table th {
  text-align: right;
}

.example_filter_table {
  margin-left: 2em;
}

.example_filter_table th {
  text-align: right;
  font-weight: normal;
}

.example_filter_table td {
  padding-left: 1em;
}

#add_filter_table .blurb {
  padding-left: 2em;
  font-style: italic;
}

#filters_table {
  margin-bottom: 1em;
  border-collapse: collapse;
  background-color: var(--grid-background-color);
}

#filters_table th,
#filters_table td {
  padding: 4px 8px;
  text-align: left;
}

#filters_table tr:nth-child(even) {
  background-color: var(--alternate-grid-background-color);
}

.flag-description {
  white-space: nowrap;
}
