[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Tobias Burnus <burnus@net-b.de>
  #                 Ville Skyttä <ville.skytta@iki.fi>
  #                 Myk Melez <myk@mozilla.org>
  #                 André Batosti <batosti@async.com.br>
  #%]

[% PROCESS 'global/field-descs.none.tmpl' %]

[% filtered_desc = blocked_tree.$bugid.short_desc FILTER html %]

[% IF !embed %]
  [% PROCESS global/header.html.tmpl
    title           = "Dependency tree for $terms.Bug $bugid"
    header          = "Dependency tree for
                        <a href=\"${basepath}show_bug.cgi?id=$bugid\">$terms.Bug $bugid</a>"
    javascript_urls = ["js/dependency-tree.js"]
    style_urls      = ["skins/standard/dependency-tree.css"]
    subheader       = filtered_desc
    doc_section     = "hintsandtips.html#dependencytree"
  %]
[% END %]

[% IF embed && tree_only %]
  [% INCLUDE trees %]
[% ELSE %]
  <div id="dependency-tree"
      role="group" aria-label="Dependency tree for [% terms.Bug %] [%= bugid %]"
      data-action="[% basepath FILTER none %]showdependencytree.cgi"
      data-bug-id="[% bugid %]"
      data-max-depth="[% maxdepth %]"
      data-real-depth="[% realdepth %]"
      data-hide-resolved="[% hide_resolved %]">
    [% INCLUDE depth_control_toolbar %]
    <div class="tree-container">
      [% INCLUDE trees %]
    </div>
  </div>
[% END %]

[% IF !embed %]
  [% PROCESS global/footer.html.tmpl %]
[% END %]

[%###########################################################################%]
[%# Trees                                                                   #%]
[%###########################################################################%]

[% BLOCK trees %]
  [% INCLUDE tree_section ids=dependson_ids type=1 label="Depends on" %]
  [% INCLUDE tree_section ids=blocked_ids type=2 label="Blocked by" %]
[% END %]

[%###########################################################################%]
[%# Tree-drawing blocks                                                     #%]
[%###########################################################################%]

[% BLOCK tree_section %]
  [%# INTERFACE
    #   - ids: a list of bug IDs to be displayed as children
    #   - type: the type of tree. 1 = depends on, 2 = blockeds
    # GLOBALS
    #   - seen: Maintains a global hash of bugs that have been displayed
    #%]
  [% global.seen = {} %]
  [%# Display the tree of bugs that this bug depends on. %]
  <div role="group" aria-label="[% label FILTER html %]">
    <h3>
      [%- terms.Bug %] [%= bugid -%]
      [%- IF type == 1 -%]
        [%- tree_name = "dependson_tree" -%]
        [%- IF ids.size %] depends on[%- ELSE %] does not depend on any [%= 'open ' IF hide_resolved -%][%- terms.bugs %].[%- END -%]
      [%- ELSIF type == 2 -%]
        [%- tree_name = "blocked_tree" -%]
        [%- IF ids.size %] blocks[%- ELSE %] does not block any [%= 'open ' IF hide_resolved -%][%- terms.bugs %].[%- END -%]
      [%- END -%]
      [%- IF ids.size %]
        [%= (ids.size == 1) ? "one" : ids.size -%]
        [%- IF hide_resolved %] open[%- END -%]
        [%- " " _ ((ids.size == 1) ? terms.bug : terms.bugs) %]:
      [%- END -%]
    </h3>
    [% IF ids.size %]
      <p>
        [% IF maxdepth -%]Up to [% maxdepth %] level[% "s" IF maxdepth > 1 %] deep[% END -%]
        [% IF maxdepth && ids.size > 1 +%] | [%+ END %]
        [% href = basepath _ 'buglist.cgi?bug_id=' _ ids.sort().join(",") %]
        [% IF ids.size > 1 %]
          <a href="[% href FILTER none %]" class="view-list-link"
              [% IF embed %]target="_blank"[% END %]>View as [% terms.bug %] list</a>
          [% IF user.in_group('editbugs') %]
            |
            <a href="[% href FILTER none %]&amp;tweak=1" class="view-list-link"
                [% IF embed %]target="_blank"[% END %]>Change several</a>
          [% END %]
        [% END %]
      </p>
      <ul role="tree">
        [% INCLUDE display_tree tree=$tree_name %]
      </ul>
    [% END %]
  </div>
[% END %]


[% BLOCK display_tree %]
  [%# INTERFACE
    #   - bugid: the ID of the bug being displayed
    #   - tree: a hash of bug objects and of bug dependencies
    #%]
  [% bug = tree.$bugid %]
  <li role="treeitem" data-id="[% bugid FILTER html %]"
      [% IF tree.dependencies.$bugid.size && !global.seen.$bugid %] aria-expanded="true"[% END %]>
    [% IF tree.dependencies.$bugid.size && ! global.seen.$bugid %]
      <button type="button" role="button" class="iconic expander"
              title="Click to expand or collapse this portion of the tree. Hold down the Ctrl or Command key while clicking to expand or collapse all subtrees.">
        <span class="icon" aria-hidden="true"></span>
      </button>
    [% END %]
    <span class="bug-type-label iconic" title="[% bug.bug_type FILTER html %]"
          aria-label="[% bug.bug_type FILTER html %]" data-type="[% bug.bug_type FILTER html %]">
      <span class="icon" aria-hidden="true"></span>
    </span>
    <span class="summary[% ' deep' IF tree.dependencies.$bugid.size %][% ' duplicated' IF global.seen.$bugid %]">
      [%- INCLUDE buglink bug=bug bugid=bugid %]
    </span>
    [% IF global.seen.$bugid %]
      <button type="button" role="button" class="iconic duplicate-highlighter"
              title="Already displayed above; click to locate" aria-pressed="false">
        <span class="icon" aria-hidden="true"></span>
      </button>
    [% ELSIF tree.dependencies.$bugid.size %]
      <ul role="group">
        [% FOREACH depid = tree.dependencies.$bugid %]
          [% INCLUDE display_tree bugid=depid %]
        [% END %]
      </ul>
    [% END %]
  </li>
  [% global.seen.$bugid = 1 %]
[% END %]

[% BLOCK buglink %]
  <a class="bug-link[% ' bz_closed' UNLESS bug.isopened %]"
      href="[% basepath FILTER none %]show_bug.cgi?id=[% bugid %]" title="[% INCLUDE buginfo bug=bug %]"
      [% IF embed %]target="_blank"[% END %]>
    <strong>[%- bugid %]:</strong>
    <span class="summ_text">[%+ bug.short_desc FILTER html %]</span>
    <span class="summ_info">[[% INCLUDE buginfo %]]</span>
  </a>
  <a class="tree-link iconic"
      href="[% basepath FILTER none %]showdependencytree.cgi?id=[% bugid FILTER uri %]&amp;hide_resolved=1"
      title="See dependency tree for [% terms.Bug %] [%+ bugid FILTER html %]"
      [% IF embed %]target="_blank"[% END %]>
    <span class="icon" aria-hidden="true"></span>
  </a>
[% END %]

[% BLOCK buginfo %]
  [% display_value("bug_status", bug.bug_status) FILTER html -%] [%+ display_value("resolution", bug.resolution) FILTER html %];
  [%-%] assigned to [% bug.assigned_to.login FILTER email FILTER html %]
  [%-%][% "; Target: " _ bug.target_milestone IF bug.target_milestone %]
[% END %]

[%###########################################################################%]
[%# Block for depth control toolbar                                         #%]
[%###########################################################################%]

[% BLOCK depth_control_toolbar %]
  <div role="toolbar" aria-label="Dependency tree controls">
    <button type="button" data-id="toggle-visibility" class="secondary"
        aria-label="Toggle visibility of resolved [% terms.bugs %] in the tree">
      [% IF hide_resolved %]Show[% ELSE %]Hide[% END %] Resolved
    </button>
    <div role="group" aria-label="Max depth control">
      <span aria-hidden="true">Max Depth:</span>
      <input type="number" data-id="custom-limit"
          size="4" maxlength="4" min="1" max="[% realdepth FILTER html %]"
          value="[% maxdepth > 0 && maxdepth <= realdepth ? maxdepth : realdepth %]"
          aria-label="Set maximum depth of the dependency tree">
      <button type="button" data-id="set-limit" class="secondary"
          [% " disabled" IF realdepth < 2 || maxdepth == 1 %]
          aria-label="Set maximum depth to 1">1</button>
      <button type="button" data-id="remove-limit" class="secondary"
          [% " disabled" IF maxdepth == 0 || maxdepth == realdepth %]
          aria-label="Remove maximum depth limit">Unlimited</button>
    </div>
  </div>
[% END %]
