[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # bug_id: integer. The number of the bug(s).
  # showsummary: boolean. True if we are showing bug summaries.
  # rankdir: string. "TB" if we are ranking top-to-bottom,
                     "LR" if left-to-right.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl 
   title = "Dependency graph for $terms.bug $bug_id"
   header = "Dependency graph for $terms.bug <a href=\"${basepath}show_bug.cgi?id=$bug_id\">$bug_id</a>"
   javascript_urls = [ 'js/lib/mermaid.min.js' ]
%]

<form action="[% basepath FILTER none %]showdependencygraph.cgi" method="GET">
  <table>
    <tr>
      <th alight="right"><label for="display">Display</label></th>
      <td>
        <select id="display" name="display">
          <option value="tree" [% 'selected="selected"' IF (!display || display == "tree") %]>
            Restrict to [% terms.bugs %] having a direct relationship with entered [% terms.bugs %]</option>
          <option value="web" [% 'selected="selected"' IF display == "web" %]>
            Show all [% terms.bugs %] having any relationship with entered [% terms.bugs %]</option>
        </select>
      </td>
    </tr>
    <tr>
      <th align="right"><label for="rankdir">Orientation</label></th>
      <td>
        <select id="rankdir" name="rankdir">
          <option value="TB"[% " selected" IF rankdir == "TB" %]>Top to bottom</option>
          <option value="BT"[% " selected" IF rankdir == "BT" %]>Bottom to top</option>
          <option value="LR"[% " selected" IF rankdir == "LR" %]>Left to right</option>
          <option value="RL"[% " selected" IF rankdir == "RL" %]>Right to left</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="checkbox" id="showsummary" name="showsummary" [% " checked" IF showsummary %]>
        <label for="showsummary">Show the summaries of all displayed [% terms.bugs %]</label>
      </td>
    </tr>
  </table>
  <br>
  <input type="hidden" name="id" value="[% bug_id %]">
  <input type="hidden" name="debug" value="[% IF debug %]1[% ELSE %]0[% END %]">
  <input type="submit" id="update" value="Update">
</form>

<hr>

[% IF graph_too_large %]
  <p>Due to large number of dependencies, some [% terms.bugs %] were not included</p> 
[% END %]

<pre id="graph_data" [% IF !debug %]style="display:none;"[% END %]>
  [% graph_data FILTER html %]
</pre>

[% IF !debug %]
  <pre id="graph_image">Loading...</pre>

  <script [% script_nonce FILTER none %]>
    mermaid.initialize({ startOnLoad: false, maxTextSize: [% graph_size FILTER json %] + 1000, maxEdges: [% graph_edges FILTER json %] + 100});                                               
    const drawGraph = async function () {
      const graph_data = document.querySelector("#graph_data").innerText;
      const { svg } = await mermaid.render('graph', graph_data);
      document.querySelector("#graph_image").innerHTML = svg;
    };
    drawGraph();
  </script>
[% END %]

[% PROCESS global/footer.html.tmpl %]
