[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% RETURN IF !bug %]

[% PROCESS global/variables.none.tmpl %]
[% IF bottom_navigator == 1 %]
  <ul class="related_actions">
    <li><a href="[% basepath FILTER none %]show_bug.cgi?ctype=xml&amp;id=[% bug.bug_id FILTER uri %]">XML</a></li>
    [% IF NOT bug.groups_in.size %]
      <li>&nbsp;-&nbsp;<a href="[% basepath FILTER none %]rest/bug/[% bug.bug_id  FILTER uri %]">JSON</a></li>
    [% END %]
    <li>&nbsp;-&nbsp;
      <a href="[% basepath FILTER none %]enter_bug.cgi?format=__default__&amp;cloned_bug_id=[% bug.bug_id  FILTER uri %]"
         id="clone_bug"
         onclick="return show_clone_menu(this, '[% bug.id FILTER js %]', '[% bug.product FILTER js %]', '[% bug.component FILTER js %]');">
         Clone This [% terms.Bug %]</a>
    </li>
    [%# Links to more things users can do with this bug. %]
    [% Hook.process("links") %]
    <li>&nbsp;-&nbsp;<a href="#main-inner">Top of page </a></li>
  </ul>
  [% PROCESS "bug/tagging.html.tmpl" %]
  <hr>
[% ELSE %]
  <nav id="search-nav" aria-labelledby="search-nav-label" aria-disabled="true">
    <a rel="index" tabindex="-1" aria-disabled="true" id="search-nav-label">[% terms.Bug %] List</a>
    <a rel="first" tabindex="-1" aria-disabled="true" aria-label="First"><span class="icon" aria-hidden="true"></span></a>
    <a rel="prev" tabindex="-1" aria-disabled="true" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a>
    <a rel="next" tabindex="-1" aria-disabled="true" aria-label="Next"><span class="icon" aria-hidden="true"></span></a>
    <a rel="last" tabindex="-1" aria-disabled="true" aria-label="Last"><span class="icon" aria-hidden="true"></span></a>
    <span hidden class="position">{ $position } of { $total }</span>
  </nav>
[% END %]
