[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF user.login && user.in_group('mozilla-employee-confidential') %]
  <li class="link-attention" role="none">
    <a class="header-button" href="[% basepath FILTER none %]page.cgi?id=attention.html"
       title="What Needs My Attention?" role="menuitem">
      <span class="icon" aria-hidden="true"></span>
      <span class="label" role="none">My Attention</span>
    </a>
  </li>
[% END %]
