[% PROCESS global/header.html.tmpl
  title = "Select OAuth2 Client"
%]

[% edit_contentlink = BLOCK %]/admin/oauth/edit?id=%%id%%[% END %]
[% delete_contentlink = BLOCK %]/admin/oauth/delete?id=%%id%%[% END %]

[% columns = [
     {
       name => "description"
       heading => "Edit client..."
       contentlink => edit_contentlink
     },
     {
       name => "active"
       heading => "Active"
       yesno_field => 1
     }
     {
       name => "action"
       heading => "Action"
       content => "Delete"
       contentlink => delete_contentlink
     }
   ]
%]

[% Hook.process('before_table') %]

[% PROCESS admin/table.html.tmpl
     columns = columns
     data = clients
     overrides = overrides
%]

<a title="Add a client" href="/admin/oauth/create">Add</a> a client.

[% PROCESS global/footer.html.tmpl %]
