# References:
# 1. https://circleci.com/blog/how-to-build-a-docker-image-on-circleci-2-0/
# 2. https://circleci.com/docs/2.0/building-docker-images/
#

version: 2.1

defaults:
  docker_login: &docker_login
    run:
      name: Login to Dockerhub
      command: |
        if [ "${DOCKER_USER}" == "" ] || [ "${DOCKER_PASS}" == "" ]; then
          echo "Skipping Login to Dockerhub, credentials not available."
        else
          echo "${DOCKER_PASS}" | docker login -u="${DOCKER_USER}" --password-stdin
        fi

  docker_image: &docker_image
    image: cimg/base:2024.11
    auth:
      username: $DOCKER_USER
      password: $DOCKER_PASS

  store_log: &store_log
    store_artifacts:
      path: bugzilla.log
      destination: bugzilla.log

commands:
  # Only used for local jobs docker execution
  setup_local_docker:
    steps:
      - run:
          name: Use sudo docker in local builds
          command: |
            if [[ $CIRCLE_SHELL_ENV == *"localbuild"* ]]; then
              sudo chmod u+s $(which docker)
            fi
jobs:
  build:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d build_info ]] || mkdir build_info
      - attach_workspace:
          at: build_info
      - run:
          name: build version.json and push data
          command: |
            docker-compose -f docker-compose.test.yml run --build --name push_data \
              -e CIRCLE_BUILD_URL=$CIRCLE_BUILD_URL -e CIRCLE_SHA1=$CIRCLE_SHA1 \
              bmo.test push_data
            docker cp push_data:/app/push_data/blog.push.txt build_info/blog.push.txt
            docker cp push_data:/app/push_data/markdown.push.txt build_info/markdown.push.txt
            docker cp push_data:/app/push_data/bug.push.txt build_info/bug.push.txt
            docker cp push_data:/app/push_data/email.push.txt build_info/email.push.txt
            docker cp push_data:/app/push_data/tag.txt build_info/tag.txt
            docker cp push_data:/app/push_data/wiki.push.txt build_info/wiki.push.txt
            docker cp push_data:/app/version.json build_info/version.json
            docker rm push_data
      - run:
          name: only publish if tag exists
          command: |
            git fetch --tags
            tag="$(cat build_info/tag.txt)"
            if git tag | fgrep -q "$tag"; then
              echo "tag $tag exists!"
            else
              echo "tag $tag does not exist"
              echo yes > build_info/publish.txt
            fi
      - run:
          name: check if only version changed
          command: |
            if git diff 'HEAD~..HEAD' --name-only | grep -qv '^Bugzilla.pm'; then
              echo "more files than just Bugzilla.pm changed."
              exit 0
            fi
            if git diff 'HEAD~..HEAD' |grep '^[+-][^+-]' | grep -qv '^[+-]our $VERSION'; then
              echo "Something other than the version number changed."
              exit 0
            fi
            if [[ "$CIRCLE_BRANCH" == "master" ]]; then
              echo "Can't cut corners on the master branch"
              exit 0
            fi
            echo yes > build_info/only_version_changed.txt
      - persist_to_workspace:
          root: build_info
          paths: ["*.txt", "*.json"]
      - store_artifacts:
          path: build_info
      - *store_log

  deploy:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - attach_workspace:
          at: build_info
      - deploy:
          command: |
            [[ -n "$DOCKERHUB_REPO" && -n "$DOCKER_USER" && -n "$DOCKER_PASS" ]] || exit 0
            docker build --tag bmo --target base .
            if [[ "$CIRCLE_BRANCH" == "master" ]]; then
              TAG="$(cat build_info/tag.txt)"
              if [[ -n "$TAG" && -f build_info/publish.txt ]]; then
                [[ -n "$GITHUB_PERSONAL_TOKEN" ]] || exit 0
                git config credential.helper "cache --timeout 120"
                git config user.email "$GITHUB_EMAIL"
                git config user.name "$GITHUB_NAME"
                git tag $TAG
                git push https://${GITHUB_PERSONAL_TOKEN}:x-oauth-basic@github.com/$GITHUB_REPO.git $TAG
                docker tag bmo "$DOCKERHUB_REPO:$TAG"
                docker push "$DOCKERHUB_REPO:$TAG"
              fi
              docker tag bmo "$DOCKERHUB_REPO:latest"
              docker push "$DOCKERHUB_REPO:latest"
            else
              docker tag bmo "$DOCKERHUB_REPO:$CIRCLE_BRANCH"
              docker push "$DOCKERHUB_REPO:$CIRCLE_BRANCH"
            fi

  test_sanity:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run sanity tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build --no-deps bmo.test test_sanity t/*.t extensions/*/t/*.t
      - store_artifacts:
          path: artifacts
      - *store_log

  test_webservices:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run webservice tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build bmo.test test_webservices
      - store_artifacts:
          path: artifacts
      - *store_log

  test_selenium_1:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run selenium tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build -e SELENIUM_GROUP=1 bmo.test test_selenium
      - store_artifacts:
          path: artifacts
      - *store_log

  test_selenium_2:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run selenium tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build -e SELENIUM_GROUP=2 bmo.test test_selenium 2
      - store_artifacts:
          path: artifacts
      - *store_log

  test_selenium_3:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run selenium tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build -e SELENIUM_GROUP=3 bmo.test test_selenium 3
      - store_artifacts:
          path: artifacts
      - *store_log

  test_selenium_4:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run selenium tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build -e SELENIUM_GROUP=4 bmo.test test_selenium 4
      - store_artifacts:
          path: artifacts
      - *store_log

  test_bmo:
    docker:
      - *docker_image
    steps:
      - setup_remote_docker
      - setup_local_docker
      - checkout
      - *docker_login
      - run: |
          [[ -d artifacts ]] || mkdir artifacts
      - attach_workspace:
          at: build_info
      - run:
          name: run bmo specific tests
          command: |
            [[ -f build_info/only_version_changed.txt ]] && exit 0
            docker-compose -f docker-compose.test.yml run --build bmo.test test_bmo -q -f t/bmo/*.t
      - *store_log

workflows:
  version: 2
  main:
    jobs:
      - build
      - deploy:
          requires:
            - build
            - test_sanity
            - test_bmo
            - test_webservices
            - test_selenium_1
            - test_selenium_2
            - test_selenium_3
            - test_selenium_4
      - test_sanity:
          requires:
            - build
      - test_bmo:
          requires:
            - build
      - test_webservices:
          requires:
            - build
      - test_selenium_1:
          requires:
            - build
      - test_selenium_2:
          requires:
            - build
      - test_selenium_3:
          requires:
            - build
      - test_selenium_4:
          requires:
            - build
