[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "PhabBugz"
   desc = "Configure Phabricator Integration"
%]

[%
   param_descs = {
     phabricator_enabled     => 'Enable Phabricator Integration',
     phabricator_base_uri    => 'Phabricator Base URI',
     phabricator_api_key     => 'Phabricator User API Key',
     phabricator_auto_assign_exclude_list =>
       'A space or comma delimited list of Bugzilla accounts (login names).'
       _ ' When a revision is authored by one of these accounts (for example'
       _ ' an automation bot such as Hackbot), the associated bug will not be'
       _ ' automatically assigned to that account. If such a revision is later'
       _ ' commandeered by a developer, the bug is assigned to the developer'
       _ ' who commandeered it.',
   }
%]
