[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla Main Page"
   header = "Main Page"
   style_urls = [ 'skins/standard/index.css' ]
   no_yui = 1
   og_image = "extensions/OpenGraph/web/moz-social-bw-rgb-1200x1200.png"
%]

<div id="content">
  <h1 id="welcome"> Welcome to [% terms.Bugzilla %]</h1>
  <div>The issue tracker for Firefox and other Mozilla products.</div>

  <div class="options">

    <div class="option">
      <div class="icon">
        <a href="https://support.mozilla.org/">
          <img src="/images/index/support.svg">
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="https://support.mozilla.org/">I need technical support</a>
        </div>
        <div class="desc">
          Technical support for Firefox and other Mozilla products.
        </div>
      </div>
    </div>

    <div class="option">
      <div class="icon">
        <a href="https://webcompat.com/issues/new">
          <img src="/images/index/webcompat.svg">
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="https://webcompat.com/issues/new">Report an issue with a website that I use</a>
        </div>
        <div class="desc">
          File a web compatibility issue.
        </div>
      </div>
    </div>

    [% IF user.id %]
      <div class="option">
        <div class="icon">
          <a href="/enter_bug.cgi">
            <img src="/images/index/new-bug.svg">
          </a>
        </div>
        <div class="desc-container">
          <div class="title">
            <a href="/enter_bug.cgi">Report a new [% terms.bug %] in a Mozilla product</a>
          </div>
          <div class="desc">
            <a href="/page.cgi?id=etiquette.html">Bugzilla Etiquette</a>
            |
            <a href="https://support.mozilla.org/kb/contributors-guide-writing-good-bug">Tips for filing a [% terms.bug %]</a>
          </div>
        </div>
      </div>
    [% ELSE %]
      <div class="option">
        <div class="icon">
          <a href="/createaccount.cgi">
            <img src="/images/index/new-account.svg">
          </a>
        </div>
        <div class="desc-container">
          <div class="title">
            <a href="/createaccount.cgi">Create a new [% terms.Bugzilla %] account</a>
          </div>
          <div class="desc">
            Required before you can <b>report a [% terms.bug %] in Firefox or other Mozilla products</b>.<br>
            You can also <a href="?GoAheadAndLogIn=1">log into an existing account</a>.
          </div>
        </div>
      </div>
    [% END %]

    <div class="option">
      <div class="icon">
        <a href="https://connect.mozilla.org/">
          <img src="/images/index/mozilla-connect.svg">
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="https://connect.mozilla.org/">Provide feedback at Mozilla Connect</a>
        </div>
        <div class="desc">
          Mozilla Connect is a collaborative space for ideas, feedback, and
          discussions that will help shape future product releases.
        </div>
      </div>
    </div>

  </div>

  <div class="options">

    <div class="option">
      <div class="icon">
        <a href="https://www.mozilla.org/firefox/channel/desktop/#beta">
          <img src="/images/index/firefox-beta.svg">
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="https://www.mozilla.org/firefox/channel/desktop/#beta">
            Download Firefox Beta
          </a>
        </div>
        <div class="desc">
          Test about-to-be-released features in the most stable pre-release
          build.
        </div>
      </div>
    </div>

    <div class="option">
      <div class="icon">
        <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly">
          <img src="/images/index/firefox-nightly.svg">
        </a>
      </div>
      <div class="desc-container">
        <div class="title">
          <a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly">
            Download Firefox Nightly
          </a>
        </div>
        <div class="desc">
          Get a sneak peek at our next generation web browser, and help us make
          it the best browser it can be: try Firefox Nightly.
        </div>
      </div>
    </div>
  </div>

</div>


[% PROCESS global/footer.html.tmpl %]
