[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla Main Page"
   header = "Main Page"a
   header_addl_info = "version $constants.BUGZILLA_VERSION"
   style_urls = ["skins/standard/index.css"]
%]

<div id="page-index">
  <h1 id="welcome"> Welcome to [% terms.Bugzilla %]</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="docs" href="[% docs_urlbase FILTER html %]using/index.html"><span>Documentation</span></a>
      </li>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>File [% terms.aBug %]</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>Search</span></a>
      </li>
      <li>
        <a id="account"
          [% IF user.id %]
            href="userprefs.cgi"><span>User Preferences</span></a>
          [% ELSIF Param('createemailregexp') && user.authorizer.user_can_create_account %]
            href="createaccount.cgi"><span>Open a New Account</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>Log In</span></a>
          [% END %]
      </li>
    </ul>
  </div>

<script type="text/javascript">
function checkQuicksearch( form ) {
  if (form.quicksearch.value == '') {
    alert('Please enter one or more search terms first.');
    return false;
    }
  return true;
}
</script>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="Quick Search"
             placeholder="Enter [% terms.abug %] # or some search terms"
             autofocus required>
      <input id="find" type="submit" value="Quick Search">
      <a href="page.cgi?id=quicksearch.html" title="Quick Search help">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
      <li>
        <a href="page.cgi?id=etiquette.html">[% terms.Bugzilla %] Etiquette</a>
      </li>
      <li>
        | <a href="https://developer.mozilla.org/en/Bug_writing_guidelines">[% terms.Bug %] Writing Guidelines</a>
      </li>
    </ul>
  </div>

  <div id="common_queries">
    <h4>Common Queries:</h4>
    <ul>
      [% IF user.id %]
        <li>
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            Open [% terms.bugs %] assigned to me</a> ([% assignee_count FILTER html %])
        </li>
        <li>
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            Open [% terms.bugs %] reported by me</a> ([% reporter_count FILTER html %])
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              Requests addressed to me</a> ([% requestee_count FILTER html %])
          </li>
        [% END %]
      [% END %]

      <li>
        Firefox [% terms.bugs %] reported in the
        <a href="buglist.cgi?product=Firefox&chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">last 24 hours</a>
        | <a href="buglist.cgi?product=Firefox&chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">last 7 days</a>
      </li>
      <li>
        Firefox [% terms.bugs %] changed in the
        <a href="buglist.cgi?product=Firefox&chfieldfrom=24h">last 24 hours</a>
        | <a href="buglist.cgi?product=Firefox&chfieldfrom=7d">last 7 days</a>
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
