Disallow: /

Disallow: /page.cgi*id=voting*
Disallow: /page.cgi*id=productdashboard*
Disallow: /page.cgi*id=user_activity*

Disallow: /show_bug.cgi*format=multiple*

Allow: /describekeywords.cgi

[% Hook.process("end") %]
