[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF summary.keys %]

<h3>Summary for [% summary.type FILTER html %]: [% summary.value FILTER html %]</h3>

<script>
<!--
  var columns = [
    { title: "ID" },
    { title: "Bug status" },
    { title: "Version" },
    { title: "Component" },
    { title: "Severity" },
    { title: "Summary" }
  ];
  // Past due
  [% IF user.is_timetracker %]
    var past_due = [
    [% FOREACH bug = summary.past_due %]
      [
        '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
        '[% bug.status FILTER js %]',
        '[% bug.version FILTER js %]',
        '[% bug.component FILTER js %]',
        '[% bug.severity FILTER js %]',
        '[% bug.summary FILTER js %]'
      ],
    [% END %]
    ];
    $(document).ready(function(){
      $('#past_due').DataTable({
        data: past_due,
        columns: columns,
        ordering: false,
        paging: false,
        bInfo: false,
        searching: false,
      })
    });
  [% END %]

  // Updated recently
  var updated_recently = [
  [% FOREACH bug = summary.updated_recently %]
    [
      '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
      '[% bug.status FILTER js %]',
      '[% bug.version FILTER js %]',
      '[% bug.component FILTER js %]',
      '[% bug.severity FILTER js %]',
      '[% bug.summary FILTER js %]'
    ],
  [% END %]
  ];

    $(document).ready(function(){
      $('#updated_recently').DataTable({
        data: updated_recently,
        columns: columns,
        ordering: false,
        paging: false,
        bInfo: false,
        searching: false,
      })
    });

-->
</script>

[% IF user.is_timetracker %]
  <p>
    <a href="#past_due">Past Due</a> |
    <a href="#updated_recently">Updated Recently</a>
  </p>
[% END %]

<div>
  [% IF user.is_timetracker %]
    <a name="past_due"></a>
    <b>[% summary.past_due.size FILTER html %] Past Due [% terms.Bugs %]</b> (deadline is before today's date)
    (<a href="[% bug_link FILTER html %]&amp;[% summary.type FILTER uri %]=[% summary.value FILTER uri %]&field0-0-0=deadline&type0-0-0=lessthan&value0-0-0=[% summary.timestamp FILTER uri %]&order=deadline">full list</a>)
    <table id="past_due" class="display"></table>
    <br>
  [% END %]

  <a name="updated_recently"></a>
  <b>[% summary.updated_recently.size FILTER html %] Most Recently Updated [% terms.Bugs %]</b>
  [% IF user.is_timetracker %](<a href="#top">back to top</a>)[% END %]
  (<a href="[% bug_link FILTER html %]&amp;[% summary.type FILTER uri %]=[% summary.value FILTER uri %]&order=changeddate DESC">full list</a>)
  <table id="updated_recently" class="display"></table>
</div>

[% ELSE %]

<script type="text/javascript">
  var product_name = '[% product.name FILTER js %]';
  var bug_status = '[% bug_status FILTER js %]';

  var col_headers = [
    { title: "Name" },
    { title: "Count" },
    { title: "Percentage" },
  ];

  // Component counts
  var component_counts = [
    [% FOREACH col = by_component %]
      [
        '<a href="[% bug_link FILTER html %]&amp;component=[% col.0 FILTER uri %]">[% col.0 FILTER js FILTER html %]</a>',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>'
      ],
    [% END %]
  ];

  // Version counts
  var version_counts = [
    [% FOREACH col = by_version %]
      [
        '<a href="[% bug_link FILTER html %]&amp;version=[% col.0 FILTER uri %]">[% col.0 FILTER js FILTER html %]</a>',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>'
      ],
    [% END %]
  ];

  [% IF Param('usetargetmilestone') %]
    // Milestone counts
    var milestone_counts = [
      [% FOREACH col = by_milestone %]
        [
          '<a href="[% bug_link FILTER html %]&amp;target_milestone=[% col.0 FILTER uri %]">[% col.0 FILTER js FILTER html %]</a>',
          [% col.1 || 0 FILTER js %],
          '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>'
        ],
      [% END %]
    ];
  [% END %]

  $(document).ready(function(){
    $('#component_counts').DataTable({
      data: component_counts,
      columns: col_headers,
      ordering: false,
      paging: false,
      bInfo: false,
      searching: false,
    });

    $('#version_counts').DataTable({
      data: version_counts,
      columns: col_headers,
      ordering: false,
      paging: false,
      bInfo: false,
      searching: false,
    });

  [% IF Param('usetargetmilestone') %]
    $('#milestone_counts').DataTable({
      data: milestone_counts,
      columns: col_headers,
      ordering: false,
      paging: false,
      bInfo: false,
      searching: false,
    });
 [% END %]

  });

</script>

<h3>[% terms.Bug %] counts per component, version and milestone.</h3>

<p>
  <a href="#component">Component</a> |
  <a href="#version">Version</a> |
  <a href="#milestone">Milestone</a>
</p>

<p>Click on a value to show a list of most recently updated [% terms.bugs %].</p>

<div>
  <a name="component"></a>
  <b>Component</b>
  <table id="component_counts" class="display"></table>
  <br>
  <a name="version"></a>
  <b>Version</b>
  (<a href="#top">back to top</a>)
  <table id="version_counts" class="display"></table>
  [% IF Param('usetargetmilestone') %]
    <br>
    <a name="milestone"></a>
    <b>Milestone</b>
    (<a href="#top">back to top</a>)
    <table id="milestone_counts" class="display"></table>
  [% END %]
</div>

[% END %]
