[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script type="text/javascript">
  $(document).ready(function(){
    var col_headers = [
      { title: "ID" },
      { title: "Count" },
      { title: "Status" },
      { title: "Version" },
      { title: "Component" },
      { title: "Severity" },
      { title: "Summary" },
    ];

    var duplicates = [
      [% FOREACH bug = by_duplicate %]
        [
          '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
          [% bug.dupe_count FILTER js %],
          '[% bug.status FILTER js %]',
          '[% bug.version FILTER js %]',
          '[% bug.component FILTER js %]',
          '[% bug.severity FILTER js %]',
          '[% bug.summary FILTER js %]'
        ],
      [% END %]
    ];

    $('#duplicates').DataTable({
      data: duplicates,
      columns: col_headers,
      ordering: false,
      paging: false,
      bInfo: false,
      searching: false
    });
  });
</script>

<h3>Most duplicated [% terms.bugs %]</h3>

[% IF by_duplicate.size %]
  <b>[% by_duplicate.size FILTER html %]&nbsp;[% terms.Bugs %] Found</b>
  <div>
    <table id="duplicates" class="display"></table>
  </div>
[% ELSE %]
  <b>No duplicate [% terms.bugs %] found.</b>
[% END %]
