[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script type="text/javascript">
  $(document).ready(function(){

    var col_headers = [
      { title: "ID" },
      { title: "Votes" },
      { title: "Status" },
      { title: "Version" },
      { title: "Component" },
      { title: "Severity" },
      { title: "Summary" },
    ];

    var popularity = [
    [% FOREACH bug = by_popularity %]
      [
        '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
        [% bug.votes FILTER js %],
        '[% bug.status FILTER js %]',
        '[% bug.version FILTER js %]',
        '[% bug.component FILTER js %]',
        '[% bug.severity FILTER js %]',
        '[% bug.summary FILTER js %]'
      ],
    [% END %]
  ];

  $("#popularity").DataTable({
    data: popularity,
    columns: col_headers,
    ordering: false,
    paging: false,
    bInfo: false,
    searching: false,
  });

});
</script>

<h3>Most voted on [% terms.bugs %]</h3>

[% IF by_popularity.size %]
  <b>[% by_popularity.size FILTER html %]&nbsp;[% terms.Bugs %] Found</b>
  <div>
    <table id="popularity" class="display"></table>
  </div>
[% ELSE %]
  <b>No [% terms.bugs %] found.</b>
[% END %]
