[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script type="text/javascript">
  // Recently opened
  var recent_opened = [
    [% FOREACH bug = recently_opened %]
      [
        '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
        '[% bug.status FILTER js %]',
        '[% bug.version FILTER js %]',
        '[% bug.component FILTER js %]',
        '[% bug.severity FILTER js %]',
        '[% bug.summary FILTER js %]'
      ],
    [% END %]
  ];

  // Recently closed
  var recent_closed = [
    [% FOREACH bug = recently_closed %]
      [
        '<a href="show_bug.cgi?id=[% bug.id FILTER js %]">[% bug.id FILTER js %]</a>',
        '[% bug.status FILTER js %]',
        '[% bug.version FILTER js %]',
        '[% bug.component FILTER js %]',
        '[% bug.severity FILTER js %]',
        '[% bug.summary FILTER js %]'
      ],
    [% END %]
  ];

  $(document).ready(function(){
    var col_headers = [
      { title: "ID" },
      { title: "Status" },
      { title: "Version" },
      { title: "Component" },
      { title: "Severity" },
      { title: "Summary" },
    ];

    $('#recent_opened').DataTable({
        data: recent_opened,
        columns: col_headers,
        ordering: false,
        paging: false,
        bInfo: false,
        searching: false
    });
    $('#recent_closed').DataTable({
        data: recent_closed,
        columns: col_headers,
        ordering: false,
        paging: false,
        bInfo: false,
        searching: false
    });
  });
</script>

<h3>Most recently opened and closed [% terms.bugs %]</h3>

<p>
  Activity within the last <input type="text" size="4" name="recent_days"
                                  value="[% recent_days FILTER html %]">
  days (between 1 and 100) or from
  <input name="date_from" size="10" id="date_from"
         value="[% date_from FILTER html %]"
         onchange="updateCalendarFromField(this)">
  <button type="button" class="calendar_button"
          id="button_calendar_date_from"
          onclick="showCalendar('date_from')">
  <span>Calendar</span>
  </button>
  <span id="con_calendar_date_from"></span>
  to
  <input name="date_to" size="10" id="date_to"
         value="[% date_to FILTER html %]"
         onchange="updateCalendarFromField(this)">
  <button type="button" class="calendar_button"
          id="button_calendar_date_to"
          onclick="showCalendar('date_to')">
  <span>Calendar</span>
  </button>
  <span id="con_calendar_date_to"></span>
  <script type="text/javascript">
    createCalendar('date_from')
    createCalendar('date_to')
  </script>
  <input type="submit" name="change" value="Change">
</p>
<p>
  <a href="#recently_opened">Recently Opened</a>
  <span class="separator"> | </span>
  <a href="#recently_closed">Recently Closed</a>
</p>

<div>
  <a name="recently_opened"></a>
  <b>[% recently_opened.size FILTER html %] Recently Opened [% terms.Bugs %]</b>
  <table id="recent_opened" class="display"></table>
  <br>
  <a name="recently_closed"></a>
  <b>[% recently_closed.size FILTER html %] Recently Closed [% terms.Bugs %]</b>
  (<a href="#top">back to top</a>)
  <table id="recent_closed" class="display"></table>
</div>
