[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% table_names = ['summary', 'status', 'priority', 'severity', 'assignee' ] %]

<script>
  // global counts
  var summary_counts = [
    [
      '<a href="[% bug_link_all FILTER js %]">Total [% terms.Bugs %]</a>',
      [% total_bugs || 0 FILTER js %],
      '<progress title="[% total_bugs ? "1.0" : "0" %]" value="[% total_bugs ? "1" : "0" %]"/>'
    ],
    [
      '<a href="[% bug_link_open FILTER js %]">Open [% terms.Bugs %]</a>',
      [% total_open_bugs || 0 FILTER js %],
      '<progress title="[% open_bugs_percentage FILTER js %]" value="[% open_bugs_percentage FILTER js %]"/>'
    ],
    [
      '<a href="[% bug_link_closed FILTER js %]">Closed [% terms.Bugs %]</a>',
      [% total_closed_bugs || 0 FILTER js %],
      '<progress title="[% closed_bugs_percentage FILTER js %]" value="[% closed_bugs_percentage FILTER js %]"/>'
    ]
  ];

  // Status counts
  var status_counts = [
    [% FOREACH col = by_status %]
      [% NEXT IF col.0 == 'CLOSED' %]
      [
        '<a href="[% bug_link_all FILTER js %]&amp;bug_status=[% col.0 FILTER uri FILTER js %]">[% col.0 FILTER js %]</a>',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>',
      ],
    [% END %]
  ];

  // Priority counts
  var priority_counts = [
    [% FOREACH col = by_priority %]
      [
        '<a href="[% bug_link FILTER js %]&amp;priority=[% col.0 FILTER uri FILTER js %]">[% col.0 FILTER js %]</a>',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>',
      ],
    [% END %]
  ];

  // Severity counts
  var severity_counts = [
    [% FOREACH col = by_severity %]
      [
        '<a href="[% bug_link FILTER js %]&amp;bug_severity=[% col.0 FILTER uri FILTER js %]">[% col.0 FILTER js %]</a>',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>',
      ],
    [% END %]
  ];

  // Assignee counts
  var assignee_counts = [
    [% FOREACH col = by_assignee %]
      [
        '[% IF user.id %]<a href="[% bug_link FILTER js %]&amp;emailassigned_to1=1&amp;emailtype1=exact&amp;email1=[% col.0.email FILTER uri FILTER js %]">[% IF user.id %][% col.0.email FILTER js %][% ELSE %][% col.0.realname || "No Name" FILTER js %][% END %]</a>[% END %]',
        [% col.1 || 0 FILTER js %],
        '<progress title="[% col.2 || 0 FILTER js %]" value="[% col.2 || 0 FILTER js %]"/>',
      ],
    [% END %]
  ];

$(document).ready(function(){
  var col_headers = [
    { title: "Name" },
    { title: "Count" },
    { title: "Percentage" },
  ];
  [% FOREACH col_name IN table_names %]
    $('#[% col_name FILTER js %]_table').DataTable({
      data: [% col_name FILTER js %]_counts,
      columns: col_headers,
      ordering: false,
      paging: false,
      bInfo: false,
      searching: false
    });
  [% END %]
});
</script>

<h3>Summary of [% terms.bug %] counts</h3>

<p>
  <a href="#summary">Counts</a>
  <span class="separator"> | </span>
  <a href="#status">Status</a>
  <span class="separator"> | </span>
  <a href="#priority">Priority</a>
  <span class="separator"> | </span>
  <a href="#severity">Severity</a>
  <span class="separator"> | </span>
  <a href="#assignee">Assignee</a>
</p>


[% FOREACH col_name IN table_names %]
  <a name="[% col_name FILTER html %]"></a>
  <br><br>
  <b>[% col_name FILTER ucfirst FILTER html %]</b> (<a href="#top">back to top</a>)
  <table id="[% col_name FILTER html %]_table" class="display"></table>
[% END %]

