[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
<ul>
  <li>Password must be at least [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters long.</li>
  [% IF Param('password_complexity') == 'bmo' %]
  <li>And the password must also contain either of the following:
    <ul>
      <li>A phrase containing 3 or more words with each words containing 4 or more letters.</li>
      <li>Contains at least one letter, a number and a special character.</li>
    </ul>
  </li>
  [% END %]
</ul>
