[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
<ul>
  <li>Password must be at least [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters long.</li>
  [% IF Param('password_complexity') == 'bmo' %]
  <li>And the password must also contain either of the following:
    <ul>
      <li>A phrase containing at least four words of three characters or longer</li>
      <li>or password contains at least 3 of the following qualities:
        <ul>
          <li>uppercase letters</li>
          <li>lowercase letters</li>
          <li>numbers</li>
          <li>special characters such as punctuation</li>
          <li>or more than [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters</li>
        </ul>
      </li>
    </ul>
  </li>
  [% END %]
</ul>
