[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/initial-questions-comment.txt.tmpl" %]

>> Contract Specific Questions

Vendor/Contractor/Partner Name:
[%+ cgi.param('other_party') %]

Right to Terminate Contract:
[%+ cgi.param('terminate_contract') %]

>> SOW Details

Vendor Address:
[%+ cgi.param('sow_vendor_address') %]

Vendor Email for Legal Notices:
[%+ cgi.param('sow_vendor_email') %]

Mozilla Contact:
[%+ cgi.param('sow_vendor_mozcontact') %]

Vendor Contact and Email Address:
[%+ cgi.param('sow_vendor_contact') %]

Vendor Services to be Provided:
[%+ cgi.param('sow_vendor_services') %]

Description of Deliverables:
[%+ cgi.param('sow_vendor_deliverables') %]

Start Date:
[%+ cgi.param('sow_start_date') %]

End Date:
[%+ cgi.param('sow_end_date') %]

Rate of Pay:
[%+ cgi.param('sow_vendor_payment') %]

Basis for Payment:
[%+ cgi.param('sow_vendor_payment_basis') %]

Cap on reimbursement expenses:
[%+ cgi.param('sow_vendor_cap_expenses') %]

Average/Maximum Hours:
[%+ cgi.param('sow_vendor_hours') %]

Payment Schedule:
[%+ cgi.param('sow_vendor_payment_schedule') %]

Total Not to Exceed Amount:
[%+ cgi.param('sow_vendor_total_max') %]

Any Special Terms:
[%+ cgi.param('sow_vendor_special_terms') || 'None' %]

Where will the services be provided?:
[%+ cgi.param('vendor_services_where') %]
