[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "What Needs My Attention?"
  generate_api_token = 1
  javascript_urls = [ "js/field.js", "extensions/BMO/web/js/attention.js" ]
  style_urls = [ "extensions/BMO/web/styles/attention.css" ]
%]

[% PROCESS global/variables.none.tmpl %]

<img src="extensions/BMO/web/images/bugzilla.png" id="favicon-base" class="hidden">
<div id="total-bug-count" class="hidden">[% total_bug_count FILTER none %]</div>

<div id="attention">
  <h1>What Needs My Attention?</h1>

  <p><a href="https://firefox-source-docs.mozilla.org/bug-mgmt/policies/attention-dashboard.html">
    Documentation</a></p>

  <form id="attention_form" name="attention_form" action="[% basepath FILTER none %]page.cgi" method="get">
  <input type="hidden" name="id" value="attention.html">
  <input type="hidden" name="action" value="run">
  <table id="parameters">
  <tr>
    <th>Current User</th>
    <td>
      [% INCLUDE global/userselect.html.tmpl
         id = "who"
         name = "who"
         value = who
         size = 40
         emptyok = 0
      %]
    </td>
    <td>
      <input type="submit" id="run" value="Change">
    </td>
  </tr>
  </table>
  </form>

  <div id="auto_refresh-container">
    <label class="switch">
      <input id="auto_refresh" type="checkbox" onchange="updateAutoRefresh();">
      <span class="slider round"></span>
    </label>
    Auto-refresh every 10min
  </div>

  <p>Code review requests are not visible on this dashboard; please visit
    <a href="[% Param('phabricator_base_uri') FILTER html %]">Phabricator</a>
    to view those. In general it’s reasonable and important to prioritize
    Review Requests to unblock others.</p>

  <h2>Highest Priority Tasks</h2>
  <div class="task-desc">
    These are the things you should drop everything else for. Generally, work where
    you block others should be addressed as higher priority than non-blocking work.
  </div>

  [% INCLUDE bug_table title="Critical NEEDINFOs" bugs=critical_needinfo_bugs is_requests=1 %]
  [% INCLUDE bug_table title="S1 bugs" bugs=s1_bugs %]
  [% INCLUDE bug_table title="Security-Critical bugs" bugs=sec_crit_bugs %]
 
  <h2>High Priority Tasks</h2>
  <div class="task-desc">
    High priority tasks are also "drop everything", except that in this case
    "everything" doesn't include anything in the "Highest priority" list.
    Generally, work where you block others should be addressed as higher priority
    than non-blocking work.
  </div>

  [% INCLUDE bug_table title="Important NEEDINFOs" bugs=important_needinfo_bugs is_requests=1 %]
  [% INCLUDE bug_table title="S2 bugs" bugs=s2_bugs %]
  [% INCLUDE bug_table title="Security-High bugs" bugs=sec_high_bugs %]
  [% INCLUDE bug_table title="Other NEEDINFOs" bugs=other_needinfo_bugs is_requests=1 %]
</div>

[% IF debug_output %]
  <pre>[% debug_output FILTER html %]</pre>
[% END %]

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK bug_table %]
  <div class="bug-list-header">
    <div class="bug-list-title">[% title FILTER html %]</div>
    <div class="bug-list-count">
      [% bugs.size %]&nbsp;
      [% IF bugs.size == 1 %]
        [% is_requests ? "request" : terms.bug %]
      [% ELSIF bugs.size == 0 || bugs.size > 1 %]
        [% is_requests ? "requests" : terms.bugs %]
      [% END %]
    </div>
    [% IF bugs.size > 0 %]
      [%
        ids = [];
        FOREACH bug = bugs;
          ids.push(bug.id);
        END;
      %]
      <div class="bug-list-link">
        <a href="buglist.cgi?bug_id=[% ids.join(",") FILTER none %]">[% terms.Bug %] List</a>
      </div>
    [% END %]
  </div>
  [% IF bugs.size > 0 %]
    <table class="standard bug-list">
    <thead>
      <tr>
        <th>[% terms.Bug %] ID</th>
        <th>Priority</th>
        <th>Severity</th>
        <th>Status</th>
        <th>Summary</th>
        <th class="sort-col order-a">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH bug = bugs %]
        <tr class="bug-row">
          <td class="id" data-value="[% bug.id FILTER none %]">
            <a href="[% basepath FILTER none %]show_bug.cgi?id=[% bug.id FILTER html %]">[% bug.id FILTER html %]</a>
          </td>
          <td class="priority">[% bug.priority FILTER html %]</td>
          <td class="severity">[% bug.severity FILTER html %]</td>
          <td class="status">[% bug.status FILTER html %]</td>
          <td class="summary"><a href="[% basepath FILTER none %]show_bug.cgi?id=[% bug.id FILTER html %]">[% bug.summary FILTER html %]</a></td>
          <td class="timestamp" data-value="[% bug.changeddate_epoch FILTER none %]">
            <span title="[% bug.changeddate FILTER time FILTER html %]">[% bug.changeddate_fancy FILTER html %]</span>
          </td>
        </tr>
      [% END %]
    </tbody>
    </table>
  [% END %]
  [% SET bugs = [] %]
[% END %]
