[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Upgrade Permissions"
%]

<h3>How to apply for upgraded permissions</h3>

<p>
  If you want <kbd>canconfirm</kbd>, you can add it yourself using
  the <a href="page.cgi?id=triage_request.html">triage request form</a>.
</p>

<p>
  If you want <kbd>editbugs</kbd>, open a
  <a href="enter_bug.cgi?assigned_to=nobody%40mozilla.org&amp;bug_file_loc=http%3A%2F%2F&amp;bug_ignored=0&amp;bug_severity=normal&amp;bug_status=NEW&amp;cf_fx_iteration=---&amp;cf_fx_points=---&amp;component=Editbugs%20Requests&amp;contenttypemethod=autodetect&amp;contenttypeselection=text%2Fplain&amp;defined_groups=1&amp;flag_type-4=X&amp;flag_type-607=X&amp;flag_type-791=X&amp;flag_type-800=X&amp;flag_type-803=X&amp;flag_type-916=X&amp;form_name=enter_bug&amp;maketemplate=Remember%20values%20as%20bookmarkable%20template&amp;op_sys=Unspecified&amp;priority=--&amp;product=bugzilla.mozilla.org&amp;rep_platform=Unspecified&amp;target_milestone=---&amp;version=Production">
    new bug requesting permissions
  </a> with either:
  <ul>
    <li>
      The URLs of two [% terms.bugs %] to which you have attached patches
      or testcases; or
    </li>
    <li>
      The URLs of the relevant comment on three [% terms.bugs %] which you
      wanted to change, but couldn't, and so added a comment instead.
    </li>
  </ul>
</p>

<p>
  <kbd>editbugs</kbd> implies <kbd>canconfirm</kbd>; there's no need to apply for both.
</p>

<p>
  Don't forget to include your [% terms.Bugzilla %] ID if it's not the email address
  you are emailing from.
</p>

[% PROCESS global/footer.html.tmpl %]
