[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% javascript_urls.push('extensions/TrackingFlags/web/js/flags.js') %]

[% IF tracking_flags_json %]
  <script [% script_nonce FILTER none %]>                                                                                                                                                                  
    var tracking_flags_str = "[% tracking_flags_json FILTER js %]";
    var TrackingFlags = JSON.parse(tracking_flags_str);
  </script>
[% END %]
