#bugzilla-body {
    max-width: initial;
    min-width: initial;
    width: initial;
}

#create-btn {
    margin: 0 0 5px 0;
    float: right;
}

.new-bug {
    display: flex;
    flex-flow: row wrap;
}

.new-bug-split {
    flex: 1 1 300px;
}
