[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title        = "Log in to $terms.Bugzilla",
  allow_mobile = 1
%]

[% USE Bugzilla %]

<p>
  I need an email address and password to continue.
</p>

<div id="login" class="login-form">
  <form name="login" action="[% target FILTER html %]" method="POST"
        [%- IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
    <div class="field-login">
      <label for="Bugzilla_login">Email Address:</label>
      <input id="Bugzilla_login" name="Bugzilla_login"
             [%- ' type="email"' UNLESS Param('emailsuffix') %] autofocus required>
      [% Param('emailsuffix') FILTER html %]
    </div>

    <div class="field-password">
      <label for="Bugzilla_password">Password:</label>
      <input type="password" id="Bugzilla_password" name="Bugzilla_password" required>
    </div>

    [% IF Param('rememberlogin') == 'defaulton' || 
       Param('rememberlogin') == 'defaultoff' %]
      <div class="field-remember">
        <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
               [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
        <label for="Bugzilla_remember" class="checkbox-note">
          Remember my email address
        </label>
      </div>
    [% END %]

    [% PROCESS "global/hidden-fields.html.tmpl"
       exclude="^Bugzilla_(login|password|restrictlogin)$" %]

    <div class="field-restrict">
      <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
             checked="checked">
      <label for="Bugzilla_restrictlogin" class="checkbox-note">
        Restrict this session to this IP address
        (using this option improves security)</label>
    </div>

    <div class="field-submit">
      <input type="hidden" name="Bugzilla_login_token"
             value="[% get_login_request_token() FILTER html %]">
      <input type="submit" name="GoAheadAndLogIn" value="Log in" id="log_in">
    </div>

    <p class="cookie-notify">
      (Note: you should make sure cookies are enabled for this site.
      Otherwise, you will be required to log in frequently.)
    </p>
  </form>
</div>

[% Hook.process('additional_methods') %]

<div class="links">
  [% can_create_account = 0 %]
  [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
    <span><a href="createaccount.cgi">Create a New Account</a></span>
    [% can_create_account = 1 %]
  [% END %]

  [% IF user.authorizer.can_change_password %]
    [% "|" IF can_create_account %]
    <span><a href="createaccount.cgi?request_new_password=1">Forgot Password</a></span>
  [% END %]
</div>

[% PROCESS global/footer.html.tmpl %]
