[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  PROCESS global/variables.none.tmpl;
  BLOCK results;
    import(params);
    header_done = 1;
    PROCESS bug/process/results.html.tmpl;
  END;
%]

<!doctype html>
<html>
<head>
  <title>[% task.subject FILTER html %]</title>
  <base href="[% urlbase FILTER txt %]">
</head>
<body>
[% IF all_sent_changes && all_sent_changes.size > 0 %]
  [% FOREACH sent_changes IN all_sent_changes %]
    [% IF sent_changes.error %]
      Error: [% sent_changes.error FILTER html %]
    [% ELSE %]
      [% FOREACH sent_change IN sent_changes %]
        [% INCLUDE results
                  params = sent_change.params
                  sent_bugmail = sent_change.sent_bugmail %]
      [% END %]
    [% END %]
  [% END %]
[% ELSE %]
  <p>Task Error: [% error FILTER html %]</p>
[% END %]
</body>
</html>
