[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% WRAPPER product_block
   product_name="Firefox"
   icon="firefox.png"
%]
Web browser for Windows, Mac and Linux
[% END %]

[% WRAPPER product_block
   product_name="Firefox for Android"
   icon="firefox_android.png"
%]
Web browser for Android phones and tablets
[% END %]

[% WRAPPER product_block
   product_name="Firefox for iOS"
   icon="firefox_ios.png"
   link="https://github.com/mozilla-mobile/firefox-ios/issues"
%]
Web browser for iPhone and iPad<br>
Use <a href="enter_bug.cgi?format=guided&amp;product=Focus&amp;component=Security%3A+iOS">this form</a>
for security issues.
[% END %]

[% WRAPPER product_block
   caption="Firefox Focus for Android"
   product_name="Focus"
   icon="focus.png"
%]
Privacy browser for Android phones and tablets
[% END %]

[% WRAPPER product_block
   caption="Firefox Focus for iOS"
   product_name="Focus"
   icon="focus.png"
   link="https://github.com/mozilla-mobile/firefox-ios/issues"
%]
Privacy browser for iPhone and iPad
[% END %]

[% WRAPPER product_block
   product_name="Thunderbird"
   icon="thunderbird.png"
%]
Email software for Windows, Mac and Linux
[% END %]

[% WRAPPER product_block
   caption="Thunderbird for Android"
   product_name="Thunderbird"
   icon="thunderbird.png"
   link="https://github.com/thunderbird/thunderbird-android/issues"
%]
Email software for Android phones and tablets
[% END %]

[% WRAPPER product_block
   product_name="Other Products"
   icon="other.png"
%]
Other Mozilla products that are not listed here
[% END %]
