[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<table class="exits sumo_step" id="sumo_thunderbird" style="display: none">
  <tr>
    <td>
      <div class="exit_img">
        <a href="http://www.mozilla.org/support/">
          <img src="extensions/GuidedBugEntry/web/images/support.png" width="32" height="32">
        </a>
      </div>
    </td>
    <td class="exit_text">
      <a href="https://support.mozilla.org/en-US/products/thunderbird">
        I have a question about a Thunderbird feature
      </a><br>
    </td>
  </tr>
  <tr>
    <td>
      <div class="exit_img">
        <a href="javascript:void(0)" onclick="product.select('Thunderbird')">
          <img src="extensions/BMO/web/producticons/thunderbird.png" width="32" height="32"
        </a>
      </div>
    </td>
    <td class="exit_text">
      <a href="javascript:void(0)" onclick="product.select('Thunderbird')">
        [% terms.Bug %] reporting
      </a><br>
    </td>
  </tr>
</table>
