[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<table class="exits sumo_step" id="sumo_firefox" style="display: none">
  <tr>
    <td>
      <div class="exit_img">
        <a href="http://www.mozilla.org/support/">
          <img src="extensions/GuidedBugEntry/web/images/support.png" width="32" height="32">
        </a>
      </div>
    </td>
    <td class="exit_text">
      <a href="https://support.mozilla.org/en-US/kb/refresh-firefox-reset-add-ons-and-settings">
        Firefox is slow or crashes
      </a><br/>
      <a href="http://www.mozilla.org/support/">
        I have a question about a Firefox feature
      </a><br>
    </td>
  </tr>
  <tr>
    <td>
      <div class="exit_img">
        <a href="http://input.mozilla.org/feedback/">
          <img src="extensions/GuidedBugEntry/web/images/input.png" width="32" height="32">
        </a>
      </div>
    </td>
    <td class="exit_text">
      <a href="http://input.mozilla.org/feedback"> I have a suggestion for a change in Firefox</a><br>
    </td>
  </tr>
  <tr>
    <td>
      <div class="exit_img">
        <a href="javascript:void(0)" onclick="product.select('Firefox')">
          <img src="extensions/BMO/web/producticons/firefox.png" width="32" height="32"
        </a>
      </div>
    </td>
    <td class="exit_text">
      <a href="javascript:void(0)" onclick="product.select('Firefox')">
        [% terms.Bug %] reporting
      </a><br>
    </td>
  </tr>
  <tr>
    <td>
      <div class="exit_img">
        <img src="extensions/BMO/web/producticons/devedition.png" width="32" height="32">
      </div>
    </td>
    <td class="exit_text_last">
      <a href="enter_bug.cgi?format=guided&amp;webdev=1">[% terms.Bug %] reporting for web developers</a><br>
    </td>
  </tr>
</table>
