[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<table class="github-pull-requests">
  <thead>
    <tr>
      <th>PR</th>
      <th>Status</th>
      <th>Author</th>
      <th>Reviewers</th>
      <th>Repository</th>
      <th>Labels</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody class="github-prs-body">
    <tr class="github-loading-row">
      <td colspan="7">Loading...</td>
    </tr>
    <tr class="github-loading-error-row bz_default_hidden">
      <td colspan="7">Error loading GitHub pull requests:
        <span class="github-load-error-string"></span></td>
    </tr>
  </tbody>
  <tbody class="github-show-closed bz_default_hidden">
    <tr>
      <td colspan="7">
        <input id="github-show-closed" type="checkbox">
        <label for="github-show-closed">Show Closed/Merged Pull Requests</label>
      </td>
    </tr>
  </tbody>
</table>
