[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

>> Summary
[%+ cgi.param('short_desc') %]

>> Business Name
[%+ cgi.param('business_name') %]

>> Launch Region
[%+ cgi.param('region_other') ? cgi.param('region_other') : cgi.param('region') %]

>> Launch Date
[%+ cgi.param('launch_date') %]

See https://developer.mozilla.org/en-US/Apps/Publishing/Marketplace_review_criteria
