[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "New Operator FxOS Launch Form"
   style_urls = [ 'extensions/MarketplaceOnboard/web/style/marketplace_onboard.css' ]
   javascript_urls = [ 'js/field.js', 'js/util.js',
                       'extensions/MarketplaceOnboard/web/js/marketplace_onboard.js' ]
   yui = [ 'autocomplete', 'calendar' ]
%]

<form method="post" action="post_bug.cgi" id="marketplace" enctype="multipart/form-data"
      onSubmit="return MOB.validateAndSubmit();">
  <input type="hidden" id="product" name="product" value="Tracking">
  <input type="hidden" id="component" name="component" value="User Story">
  <input type="hidden" id="rep_platform" name="rep_platform" value="All">
  <input type="hidden" id="op_sys" name="op_sys" value="All">
  <input type="hidden" id="groups" name="groups" value="mozilla-employee-confidential">
  <input type="hidden" id="priority" name="priority" value="--">
  <input type="hidden" id="version" name="version" value="---">
  <input type="hidden" id="target_milestone" name="target_milestone" value="---">
  <input type="hidden" id="format" name="format" value="marketplace-onboard">
  <input type="hidden" id="bug_severity" name="bug_severity" value="normal">
  <input type="hidden" id="token" name="token" value="[% token FILTER html %]">
  <input type="hidden" id="short_desc" name="short_desc" value="[New Market] Initiate New Market in the Firefox Marketplace">

  <div class="page" id="page_1">
    <h2>New Operator FxOS Launch</h2>

    <div class="head_desc">
      On the pages below, you'll be asked to provide details on Content restrictions and
      regulations in your target market(s), Content ratings systems you'll require for your
      new target market(s), and specifications for your customizable collection in the Firefox
      Marketplace.
    </div>

    <div class="head_desc">
      After you submit this form, please bookmark the URL so you can return to it later.
      The Firefox Marketplace team will respond directly on your submission.
    </div>

    <div class="form_section">
      <!-- Question #1 -->
      <label for="business_name" class="field_label required">
        What is the in-country name of the entity doing business?
      </label>
      <div class="field_desc">
        This is the name recognizable to the customer, likely the name
        of the company on their mobile bill or the brand of device hardware.
      </div>
      <input type="text" name="business_name" id="business_name" size="80">
      </select>
    </div>

    <div class="form_section">
      <!-- Question #2 -->
      <label for="region" class="field_label required">
        Where will your Powered by Firefox OS device be distributed?
      </label>
      <br>
      <select id="region" name="region"
              onchange="MOB.toggleOther(this, 'region');">
        <option value="">Please select..</option>
        <option value="Argentina">Argentina</option>
        <option value="Brazil">Brazil</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Colombia">Columbia</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Ecuador">Ecuador</option>
        <option value="El Salvador">El Salvadore</option>
        <option value="Germany">Germany</option>
        <option value="Greece">Greece</option>
        <option value="Guatemala">Guatemala</option>
        <option value="Hungary">Hungary</option>
        <option value="Italy">Italy</option>
        <option value="Mexico">Mexico</option>
        <option value="Montenegro">Montenegro</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Panama">Panama</option>
        <option value="Peru">Peru</option>
        <option value="Poland">Poland</option>
        <option value="Serbia">Serbia</option>
        <option value="Spain">Spain</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="United States">United States</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Other">Other</option>
      </select>
      <br>
      <input type="text" name="region_other" id="region_other" size="40"
             class="bz_default_hidden" value="">
    </div>

    <div class="form_section">
      <!-- Question #3 -->
      <label for="language" class="field_label required">
        What language would you like Firefox Marketplace to display to end-users?
      </label>
      <br>
      <select id="language" name="language"
              onchange="MOB.toggleOther(this, 'language');">
        <option value="">Please select..</option>
        <option value="Albanian">Albanian</option>
        <option value="Bengali (Bangladesh)">Bengali (Bangladesh)</option>
        <option value="Chinese (Simplified)">Chinese (Simplified)</option>
        <option value="Chinese (Traditional)">Chinese (Traditional)</option>
        <option value="Croatian">Croatian</option>
        <option value="Czech">Czech</option>
        <option value="Dutch">Dutch</option>
        <option value="English (US)">English (US)</option>
        <option value="French">French</option>
        <option value="German">German</option>
        <option value="Hungarian">Hungarian</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Macedonian">Macedonian</option>
        <option value="Portuguese (Brazil)">Portuguese (Brazil)</option>
        <option value="Russian">Russian</option>
        <option value="Serbian">Serbian</option>
        <option value="Slovak">Slovak</option>
        <option value="Spanish">Spanish</option>
        <option value="Other">Other</option>
      </select>
      <br>
      <input type="text" name="language_other" id="language_other" size="40"
             class="bz_default_hidden" value="">
    </div>

    <div class="form_section">
      <!-- Question #5 -->
      <label for="launch_date" class="field_label required">
        What is the planned launch date for your Powered by Firefox OS device?
      </label>
      <br>
      <input name="launch_date" size="20" id="launch_date" value=""
             onchange="updateCalendarFromField(this)">
      <button type="button" class="calendar_button"
              id="button_calendar_launch_date"
              onclick="showCalendar('launch_date')">
        <span>Calendar</span>
      </button>
      <div id="con_calendar_launch_date"></div>
      <script type="text/javascript">
        createCalendar('launch_date')
      </script>
    </div>

    <div class="form_section">
      <!-- Question #6 -->
      <label for="business_owner" class="field_label">
        Who will be the in-country, business owner for this relationship with the Firefox Marketplace team at Mozilla?
      </label>
      <br>
      <input type="text" name="business_owner" id="business_owner" size="80">
    </div>

    <div class="form_section">
      <!-- Question #7 -->
      <label for="user_info" class="field_label required">
        Who is filling out this form?
      </label>
      <div class="field_desc">
        Please provide name, Company name, Job title, email and phone number with country code.
      </div>
      <textarea id="user_info" name="user_info" cols="80" rows="5"></textarea>
    </div>

    <div class="nav_button_container">
      <input type="button" class="nav_button" value="Next" onClick="MOB.showPage(2);">
    </div>
  </div>

  <div class="page bz_default_hidden" id="page_2">
    <h2>Mobile Billing</h2>

    <div class="form_section">
      <!-- Question #8 -->
      <label for="operator_billing" class="field_label">
        Do you meet the criteria for operator billing?
      </label>
      <br>
      <select name="operator_billing" id="operator_billing"
              onchange="MOB.showSection(this, 'operator_billing_extra');">
        <option value="">Please select...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div id="operator_billing_extra" class="bz_default_hidden">
      <!-- Question #8.1 -->
      <div class="form_section">
        <label for="content_restrictions" class="field_label required">
          If yes, would you like to talk to our payments team about having operator billing for your launch?
        </label>
        <br>
        <select name="provide_billing" id="provide_billing">
          <option value="">Please select...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>

    <div class="nav_button_container">
      <input type="button" class="nav_button" value="Back" onClick="MOB.showPage(1);">
      <input type="button" class="nav_button" value="Next" onClick="MOB.showPage(3);">
    </div>
  </div>

  <div class="page bz_default_hidden" id="page_3">
    <h2>Content Restrictions and Regulations</h2>

    <div class="form_section">
      <!-- Question #9 -->
      <label for="content_restrictions" class="field_label required">
        Do you have content restrictions as per your company policy or per the target market in-country?
      </label>
      <br>
      <select name="content_restrictions" id="content_restrictions"
              onchange="MOB.showSection(this, 'content_extra_section');">
        <option value="">Please select...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div id="content_extra_section" class="bz_default_hidden">
      <div class="form_section">
        <!-- Question #10 -->
        <label for="content_policy" class="field_label">
          If yes, what is your content policy?
        </label>
        <div class="field_desc">
          Please paste or link to it in the space to the right or indicate "Not Applicable"
        </div>
        <input type="text" name="content_policy" id="content_policy" size="80">
      </div>

      <div class="form_section">
        <!-- Question #11 -->
        <label for="content_policy_mandatory" class="field_label required">
          Is your content policy Mandatory / Suggested?
        </label>
        <br>
        <select name="content_policy_mandatory" id="content_policy_mandatory">
          <option value="">Please select...</option>
          <option value="Mandatory">Mandatory</option>
          <option value="Suggested">Suggested</option>
        </select>
      </div>
    </div>

    <div class="form_section">
      <!-- Question #12 -->
      <label for="content_laws" class="field_label required">
        Does your target country have laws on content, games, and apps?
      </label>
      <br>
      <select name="content_laws" id="content_laws"
              onchange="MOB.showSection(this, 'content_laws_extra_section');">
        <option value="">Please select...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div id="content_laws_extra_section" class="bz_default_hidden">
      <!-- Question #12.1-->
      <div class="form_section">
        <label for="content_laws_info" class="field_label required">
          If yes, please provide additional information.
        </label>
        <div class="field_desc">
          Please paste or link to regulatory and governing bodies in the space below.
        </div>
        <input type="text" name="content_laws_info" id="content_laws_info" size="80">
      </div>
    </div>

    <div class="form_section">
      <label for="content_rating_system" class="field_label required">
        Do you use a content rating system, please answer the following questions.
      </label>
      <br>
      <select name="content_rating_system" id="content_rating_system"
              onchange="MOB.showSection(this, 'content_rating_extra_section');">
        <option value="">Please select...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div id="content_rating_extra_section" class="bz_default_hidden">
      <div class="form_section">
        <!-- Question #13 -->
        <label for="content_rating_system_info" class="field_label">
          What is your content rating system?
        </label>
        <br>
        <textarea id="content_rating_system_info" name="content_rating_system_info" cols="80" rows="5"></textarea>
      </div>

      <div class="form_section">
        <!-- Question #14 -->
        <label for="content_rating_system_type" class="field_label">
          What kind of content does it apply to? (e.g. Games, all apps)
        </label>
        <br>
        <textarea id="content_rating_system_type" name="content_rating_system_type" cols="80" rows="5"></textarea>
      </div>

      <div class="form_section">
        <!-- Question #15 -->
        <label for="age_restrictions" class="field_label">
          Do you support age restrictions on customer accounts?
        </label>
        <div class="field_desc">
          For example, parents can restrict a child’s account based on either content or
          purchasing, or require parental permission to use mobile billing to charge for content?
        </div>
        <select name="age_restrictions" id="age_restrictions">
          <option value="">Please select...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>

    <div class="nav_button_container">
      <input type="button" class="nav_button" value="Back" onClick="MOB.showPage(2);">
      <input type="button" class="nav_button" value="Next" onClick="MOB.showPage(4);">
    </div>
  </div>

  <div class="page bz_default_hidden" id="page_4">
    <h2>Operator Shelf</h2>

    <div class="form_section">
      <!-- Question #16 -->
      <label for="want_for_launch" class="field_label required">
        Will you want this feature for your launch?
      </label>
      <br>
      <select name="want_for_launch" id="want_for_launch">
        <option value="">Please select...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>

    <div class="form_section">
      <!-- Question #16.1 -->
      <label for="mnc_code" class="field_label">
        What is the MNC / MCC Code for the country of launch?
      </label>
      <br>
      <input type="text" name="mnc_code" id="mnc_code" size="80">
    </div>

    <div class="form_section">
      <!-- Question #17 -->
      <label for="company_name" class="field_label">
        What company name should Mozilla use to describe this collection?
      </label>
      <div class="field_desc">
       Should be recognizable to your customers
      </div>
      <textarea id="company_name" name="company_name" cols="80" rows="5"></textarea>
    </div>

    <div class="form_section">
      <!-- Question #18 -->
      <label for="collection_url" class="field_label">
        How should the URL display for the your customized collection?
      </label>
      <div class="field_desc">
        Usually http://marketplace.firefox.com/country/EntityNameHere
      </div>
      <input type="text" name="collection_url" id="collection_url" size="80">
    </div>

    <div class="form_section">
      <!-- Question #19 -->
      <label for="operator_logo" class="field_label">
        Please provide a link to a 64x64 pix EPS, AI or png file of the Operator's logo for use on the category page Logo
      </label>
      <div class="field_desc">
        Should be recognizable to your customer
      </div>
      <input type="text" name="operator_logo" id="operator_logo" size="80">
    </div>

    <div class="form_section">
      <!-- Question #20 -->
      <label for="design_contact" class="field_label">
        Who is the point of contact to work with UX / Design to ensure the logo works with the Firefox Marketplace layout and design?
      </label>
      <br>
      <input type="text" name="design_contact" id="design_contact" size="80">
    </div>

    <div class="nav_button_container">
      <input type="button" class=nav_button" value="Back" onClick="MOB.showPage(3);">
      <input type="submit" id="commit" value="Submit">
    </div>
  </div>

  <p>
    (<span class="required_star">*</span> =
    <span class="required_explanation">Required Field</span>)
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
