[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 <rdean@cambianetworks.com>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #                 Guy Pyrzak <guy.parzak@gmail.com>
  #%]

[%# INTERFACE:
  # buglistbase: The base query for this table, in URL form
  # col_field: string. Name of the field being plotted as columns.
  # row_field: string. Name of the field being plotted as rows.
  # tbl_field: string. Name of the field being plotted as tables.
  # col_names: array. List of values for the field being plotted as columns.
  # row_names: array. List of values for the field being plotted as rows.
  # data: <depends on format>. Data to plot. Only data.$tbl is accessed.
  # tbl: Name of a hash in data which is the table to be plotted.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% col_field_disp = field_descs.$col_field || col_field %]
[% row_field_disp = field_descs.$row_field || row_field %]

[% urlbase = BLOCK %][% basepath FILTER none %]buglist.cgi?[% buglistbase FILTER html %][% END %]
[% IF tbl == "-total-" %]
  [% IF tbl_vals %]
    [% urlbase = urlbase _ "&amp;" _ tbl_vals %]
  [% END %]
[% ELSIF tbl_field %]
  [% urlbase = BLOCK %][% urlbase %]&amp;[% tbl_field FILTER uri %]=[% tbl FILTER uri %][% END %]
[% END %]

<script [% script_nonce FILTER none %]>
function bz_encode (str, decode) {
  if (typeof str !== 'string') {
    str = String(str);
  }

  // First decode HTML entities, if requested.
  if (decode)
    str = str.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g, '"')
             .replace(/&nbsp;/g, " ").replace(/&amp;/g, "&").replace(/\s+$/,"");

  // encodeURIComponent() doesn't escape single quotes.
  return encodeURIComponent(str).replace(/'/g, escape);
};

window.addEventListener('DOMContentLoaded', () => {
  const linkify = ({ value, data }) => {
    if (value === '.') {
      return '.';
    }

    if (data.row_title === 'Total') {
      return '<a href="[% urlbase FILTER js %]&amp;[% col_field FILTER uri FILTER js %]='
        + bz_encode(data.field) + '[% "&amp;" _ row_vals IF row_vals %]">' + value + '</a>';
    }

    return '<a href="[% urlbase FILTER js %]&amp;[% row_field FILTER uri FILTER js %]='
      + bz_encode(data.row_title, 1) + '&amp;[% col_field FILTER uri FILTER js %]='
      + bz_encode(data.field) + '">' + value + '</a>';
  };

  const linkifyTotal = ({ value, data }) => {
    if (value === '.') {
      return '.';
    }

    if (data.row_title === 'Total') {
      return '<a href="[% urlbase FILTER js %][% "&amp;" _ row_vals IF row_vals %]
        [%~ "&amp;" _ col_vals IF col_vals %]">' + value + '</a>';
    }

    return '<a href="[% urlbase FILTER js %]&amp;[% row_field FILTER uri FILTER js %]='
      + bz_encode(data.row_title, 1) + '[% "&amp;" _ col_vals IF col_vals %]">' + value + '</a>';
  };

  const totalRowFormatter = ({ $row, data }) => {
    if (data.row_title === 'Total') {
      $row.classList.add('ttotal');
    }
  };

  const totalNumberSorter = ({ a, b, desc, key }) => {
    if (a.row_title === 'Total') {
      return 1;
    }

    if (b.row_title === 'Total') {
      return -1;
    }

    if (desc) {
      [a, b] = [b, a];
    }

    if (typeof a[key] === 'number') {
      return a[key] - b[key];
    }

    return String(a[key]).localeCompare(String(b[key]));
  };

  const columns = [
    {
      key: 'row_title',
      label: '',
      sortable: true,
      sortOptions: { sortFunction: totalNumberSorter }
    },
    [% FOREACH col = col_names %]
      {
        key: '[% col FILTER js %]',
        label: '[% display_value(col_field, col) FILTER html FILTER js %]',
        sortable: true,
        allowHTML: true,
        formatter: linkify,
        sortOptions: { defaultDir: 'descending', sortFunction: totalNumberSorter }
      },
    [% END %]
    {
      key: 'total',
      label: 'Total',
      sortable:true,
      allowHTML: true,
      formatter: linkifyTotal,
      className: 'ttotal',
      sortOptions: { defaultDir: 'descending', sortFunction: totalNumberSorter }
    },
  ];

  const rows = [...document.querySelectorAll('#tabular_report_[% tbl FILTER js %] tbody tr')];

  const data = rows.map(($tr) => Object.fromEntries(
    [...$tr.querySelectorAll('td')].map(($td, index) => {
      const value = $td.textContent.trim();
      return [columns[index].key, isNaN(value) ? value : Number(value)];
    })
  ));

  document.querySelector('#tabular_report_[% tbl FILTER js %]').remove();

  new Bugzilla.DataTable({
    container: '#tabular_report_container_[% tbl FILTER js %]',
    columns,
    data,
    options: { formatRow: totalRowFormatter },
  });
});
</script>

[% IF tbl_field %]
  <h2>[% tbl_disp FILTER email FILTER html %]</h2>
[% END %]

<table>
  <tr>
    <td>
    </td>
    <td align="center">
      <strong>[% col_field_disp FILTER html %]</strong>
    </td>
  </tr>

  <tr>
    <td valign="middle">
      <strong>[% row_field_disp FILTER html %]</strong>
    </td>
    <td>


[% classes = [ [ "t1", "t2" ] , [ "t3", "t4" ] ] %]
[% col_idx = 0 %]
[% row_idx = 0 %]
[% grand_total = 0 %]
<div id="tabular_report_container_[% tbl FILTER html %]">
<table id="tabular_report_[% tbl FILTER html %]" border="1">
  [% IF col_field %]
    <thead>
    <tr>
      <th class="[% classes.$row_idx.$col_idx %]">
      </th>
      [% FOREACH col = col_names %]
        [% col_totals.$col = 0 %]
        [% NEXT IF col == "" %]

        [% col_idx = 1 - col_idx %]
        <th class="[% classes.$row_idx.$col_idx %]">
          [% PROCESS value_display value = col field = col_field %]
        </th>
      [% END %]
      <th class="ttotal">
        Total
      </th>
    </tr>
    </thead>
  [% END %]
  <tbody>
  [% FOREACH row = row_names %]
    [% row_total = 0 %]

    [% row_idx = 1 - row_idx %]
    <tr>
      <td class="[% classes.$row_idx.$col_idx %]" align="right">
        [% PROCESS value_display value = row field = row_field %]
      </td>
      [% FOREACH col = col_names %]
        [% row_total = row_total + data.$tbl.$col.$row %]
        [% NEXT IF col == "" %]
        [% col_totals.$col = (col_totals.$col || 0) + data.$tbl.$col.$row %]

        [% col_idx = 1 - col_idx %]
        <td class="[% classes.$row_idx.$col_idx %]" align="center">
          [% IF data.$tbl.$col.$row AND data.$tbl.$col.$row > 0 %]
            <a href="[% urlbase %]&amp;
              [% row_field FILTER uri %]=[% row FILTER uri %]&amp;
              [% col_field FILTER uri %]=[% col FILTER uri %]">
              [% data.$tbl.$col.$row %]</a>
          [% ELSE %]
            .
          [% END %]
        </td>
      [% END %]
      <td class="ttotal" align="right">
        <a href="[% urlbase %]&amp;
          [% row_field FILTER uri %]=[% row FILTER uri %]
          [% "&amp;$col_vals" IF col_vals %]">
        [% row_total %]</a>
        [% grand_total = grand_total + row_total %]
      </td>
    </tr>
  [% END %]
    <tr>
      [% row_idx = 1 - row_idx %]
      <td class="ttotal">
        Total
      </td>
      [% FOREACH col = col_names %]
        [% NEXT IF col == "" %]

        <td class="ttotal" align="center">
          <a href="[% urlbase %]&amp;
            [% col_field FILTER uri %]=[% col FILTER uri %]
            [% "&amp;$row_vals" IF row_vals %]">
          [% col_totals.$col %]</a>
        </td>
      [% END %]
      <td class="ttotal" align="right">
        <strong>
          <a href="[% urlbase %]
            [% "&amp;$row_vals" IF row_vals %]
            [% "&amp;$col_vals" IF col_vals %]">[% grand_total %]</a>
        </strong>
      </td>
    </tr>
  </tbody>
</table>
</div>

    </td>
  </tr>
</table>

[% BLOCK value_display %]
  [% SET disp_value = display_value(field, value) %]
  [% IF field == 'assigned_to' OR field == 'reporter'
           OR field == 'qa_contact'
  %]
    [% disp_value = value FILTER email %]
  [% END %]
  [% disp_value FILTER html FILTER replace('^ $','&nbsp;') %]
[% END %]
