[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # bug: (bug object) the main bug object
  # active_attachments: array of active attachment objects
  # obsolete_attachments: array of obsolete attachment objects
  #%]

<div id="attachments">
  [% FOREACH attachment IN bug.attachments %]
    [%
      NEXT IF attachment.isprivate && !(user.is_insider || attachment.attacher.id == user.id);
      attachment_rendered = 0;
      Hook.process("row");
      NEXT IF attachment_rendered;
    %]
    <section itemscope itemtype="http://schema.org/MediaObject" class="attachment
        [%~ ' bz_private' IF attachment.isprivate %]
        [%~ ' deleted' IF !attachment.datasize %]
        [%~ ' obsolete' IF attachment.isobsolete %]
        [%~ ' patch' IF attachment.can_review %]"
        [%~ ' hidden' IF attachment.isobsolete %]>
      <div class="info">
        <div class="primary">
          [% IF attachment.is_image %]
            <a itemprop="contentUrl" href="[% basepath FILTER none %]attachment.cgi?id=[% attachment.id FILTER none %]"
              title="[% attachment.description FILTER html %]"
              class="lightbox">
              <img src="[% basepath FILTER none %]extensions/BugModal/web/image.png" width="16" height="16">
              <h3 itemprop="description">[% attachment.description FILTER html %]</h3>
            </a>
          [% ELSE %]
            <a href="[% basepath FILTER none %]attachment.cgi?id=[% attachment.id FILTER none %]">
              <h3 itemprop="description">[% attachment.description FILTER html %]</h3>
            </a>
          [% END %]
        </div>
        <div class="secondary">
          [% activity_id = bug.find_activity_id_for_attachment(attachment) %]
          [% IF activity_id %]
            <a itemprop="discussionUrl" href="#[% activity_id FILTER none %]" class="attach-time activity-ref">
          [% ELSE %]
            <span class="attach-time">
          [% END %]
          [% INCLUDE bug_modal/rel_time.html.tmpl ts=attachment.attached itemprop='uploadDate' %]
          [% IF activity_id %]
            </a>
          [% ELSE %]
            </span>
          [% END %]
          <span class="attach-author">[% INCLUDE bug_modal/user.html.tmpl u=attachment.attacher itemprop='creator' %]</span>
        </div>
        <div class="tertiary">
          [% IF attachment.datasize %]
            <span itemprop="contentSize">[% attachment.datasize FILTER unitconvert %]</span>
          [% ELSE %]
            (deleted)
          [% END %],
          [%+ IF attachment.ispatch %]
            patch
          [% ELSE %]
            <span itemprop="encodingFormat">[% attachment.contenttype FILTER html %]</span>
          [% END %]
        </div>
      </div>
      <div class="extra">
        [% FOREACH flag IN attachment.flags %]
          <div class="flag">
            [% INCLUDE bug_modal/user.html.tmpl u=flag.setter simple=1 %]:
            [% activity_id = bug.find_activity_id_for_flag(flag) %]
            [% IF activity_id %]
              <a href="#[% activity_id FILTER none %]">
            [% END %]
            [% INCLUDE bug_modal/rel_time.html.tmpl
                ts = flag.creation_date
                extra_class = 'flag-name-status' _ (activity_id ? ' activity-ref' : '')
            %]
            [%+ flag.type.name FILTER html %][% flag.status FILTER none %]
            [% IF activity_id %]
              </a>
            [% END %]
            [% IF flag.requestee %]
              [%+ INCLUDE bug_modal/user.html.tmpl u=flag.requestee simple=1 %]
            [% END %]
          </div>
        [% END %]
      </div>
      <div class="actions">
        <a href="[% basepath FILTER none %]attachment.cgi?id=[% attachment.id FILTER none %]&amp;action=edit">Details</a>
        [% IF attachment.ispatch %]
          | <a href="[% basepath FILTER none %]attachment.cgi?id=[% attachment.id FILTER none %]&amp;action=diff">Diff</a>
        [% END %]
        [% Hook.process("action", "attachment/list.html.tmpl") %]
      </div>
    </section>
  [% END %]
</div>

<div id="attachments-actions">
  [% IF obsolete_attachments %]
    <button type="button" id="attachments-obsolete-btn" class="secondary">Show Obsolete Attachments</button>
  [% END %]
</div>

[%# BMO - attachment related warnings %]
[% Hook.process("warnings") %]
