[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<div id="cre-[% comment.count FILTER none %]" class="comment-reactions"
     [% IF comment.collapsed +%] style="display:none"[% END %]>
  [% IF user.id %]
    <button type="button" class="anchor">
      <span class="icon" aria-label="Toggle Reaction Picker"></span>
    </button>
    <div class="picker" role="dialog" aria-label="Reaction Picker" inert>
      [% FOREACH key IN comment.supported_reactions.keys %]
        [% PROCESS emoji_button key = key sum = 0 %]
      [% END %]
    </div>
  [% END %]
  <div class="sums">
    [% FOREACH key IN comment.supported_reactions.keys %]
      [% PROCESS emoji_button key = key sum = 1 %]
    [% END %]
  </div>
</div>

[% BLOCK emoji_button %]
  [% count = comment.reactions.$key || 0 %]
  [% label = comment.supported_reactions.$key.label %]
  [%# Double-escape the key to make sure "+1" works in the grep below %]
  [% escaped_key = key.replace('\+', '\\+'); %]
  <button type="button"
          [%= IF sum %]class="sum"[% END =%]
          [%= IF sum && !count %]hidden[% END =%]
          [%= IF !user.id %]disabled[% END =%]
          data-reaction-name="[% key FILTER html %]"
          data-reaction-label="[% label FILTER html %]"
          data-reaction-count="[% count FILTER html %]"
          aria-pressed="[% comment.my_reactions.grep("^$escaped_key$").size ? 'true' : 'false' %]">
    <span class="emoji"
          aria-label="Toggle [% label FILTER html %] reaction">
      [%~ comment.supported_reactions.$key.emoji FILTER html ~%]
    </span>
    [% IF sum %]
      <span class="count"
            aria-label="[% count FILTER html %] [%= IF count == 1 %]person[% ELSE %]people[% END =%]
                        reacted with [% label FILTER html %] emoji">
        [%~ count FILTER html ~%]
      </span>
    [% END %]
  </button>
[% END %]
