[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<nav id="search-nav" aria-labelledby="search-nav-label" aria-disabled="true">
  <a rel="index" tabindex="-1" aria-disabled="true" id="search-nav-label">[% terms.Bug %] List</a>
  <a rel="first" tabindex="-1" aria-disabled="true" aria-label="First"><span class="icon" aria-hidden="true"></span></a>
  <a rel="prev" tabindex="-1" aria-disabled="true" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a>
  <a rel="next" tabindex="-1" aria-disabled="true" aria-label="Next"><span class="icon" aria-hidden="true"></span></a>
  <a rel="last" tabindex="-1" aria-disabled="true" aria-label="Last"><span class="icon" aria-hidden="true"></span></a>
  <span hidden class="position">{ $position } of { $total }</span>
</nav>
