[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # comment: comment object
  # bug: bug object
  # id_prefix: (string) prefix for some element IDs (default: empty)
  # add_extras: (boolean) whether to show extra controls (default: true)
  # add_self_cc: (boolean) whether to show the add self to cc (default: true)
  #%]

[%
  IF id_prefix.defined;
    id_prefix = id_prefix _ '-';
  END;
  IF !add_extras.defined;
    add_extras = 1;
  END;
  IF !add_self_cc.defined;
    add_self_cc = 1;
  END
%]

<div id="add-comment">
  [% can_comment = bug.check_can_change_field('longdesc', 0, 1) %]
  [% IF !can_comment.allowed %]
    <div id="new-comment-notice">
      [% IF can_comment.reason %]
        [% can_comment.reason FILTER html %]
      [% ELSE %]
        You are not allowed to make an additional comment on this [% terms.bug %].
      [% END %]
    </div>
    [% RETURN %]
  [% END %]

  <textarea id="comment" name="comment" rows="5" cols="80"
      aria-label="[% mode == 'create' ? 'Description' : 'Add Comment' %]"
      [%~ IF user.setting('ui_attach_long_paste') == 'on' +%] class="attach-long-paste"[% END %]
  >[% comment FILTER html %]</textarea>

  <div id="after-comment-commit-button">
    [% IF user.is_insider && add_extras %]
      <div id="add-comment-private"
        title="Make comment visible only to members of the '[% Param('insidergroup') FILTER html %]' group"
      >
        <input type="checkbox" name="comment_is_private" id="add-comment-private-cb"
               value="1" comment_id="[% comment.count FILTER none %]">
        <label for="add-comment-private-cb" aria-label="Mark as Private">Make comment private</label>
      </div>
    [% END %]

    [% Hook.process("after_comment_commit_button", 'bug/edit.html.tmpl') %]

    [%# this checkboxes are in tables to match the alignment of the
        added-by-extensions checkboxes (needinfo, restrict-comments) %]
    [%
      IF NOT bug.cc || NOT bug.cc.contains(user.login);
        hide_add_self = 0;
      ELSE;
        hide_add_self = 1;
      END;
      IF user.settings.state_addselfcc.value == 'always';
        check_add_self = 1;
      ELSIF user.settings.state_addselfcc.value == 'cc_unless_role';
        check_add_self = !(
            bug.user.isreporter
            || bug.assigned_to.id == user.id
            || (bug.qa_contact && bug.qa_contact.id == user.id)
          );
      ELSE;
        check_add_self = 0;
      END;
    %]
    [% IF bug.id %]
      [% IF add_self_cc %]
        <table id="add-self-cc-container" [%= 'style="display:none"' IF hide_add_self %]>
          <tr>
            <td>
              <input type="checkbox" name="addselfcc" id="add-self-cc"
                    [%= "disabled" IF hide_add_self %] [%= "checked" IF check_add_self %]>
            </td>
            <td>
              <label for="add-self-cc">Add me to CC list (follow this [% terms.bug %])</label>
            </td>
          </tr>
        </table>
      [% END %]
      [% IF add_extras %]
        <table class="edit-show">
          <tr>
            <td>
              <input type="checkbox" name="bug_ignored" id="bug-ignored"
                    [%= "checked" IF user.is_bug_ignored(bug.id) %]>
              <input type="hidden" name="defined_bug_ignored" value="1">
            </td>
            <td>
              <label for="bug-ignored" title="You will still receive emails for flag requests directed at you">
                Never email me about this [% terms.bug %]
              </label>
            </td>
          </tr>
        </table>
      [% END %]
    [% END %]
  </div>
</div>
