[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # ts: timestamp
  # extra_class: Extra class name
  # itemprop: A schema.org property name for the timestamp, e.g. `datePublished`
  #%]
[% abstime = user.setting("ui_use_absolute_time") == "on" %]
<time datetime="[% ts FILTER time('%FT%T%z') %]" [% IF itemprop %]itemprop="[% itemprop FILTER html %]"[% END %]
      class="[% IF abstime %]absolute[% ELSE %]relative[% END %][% IF extra_class %][%+ extra_class FILTER html %][% END %]"
      title="[% IF abstime %][% ts FILTER time_duration FILTER html %][% ELSE %][% ts FILTER time('%Y-%m-%d %H:%M %Z') %][% END %]">
  [%~ IF abstime %][% ts FILTER time('%Y-%m-%d %H:%M %Z') %][% ELSE %][% ts FILTER time_duration FILTER html %][% END ~%]
</time>
