[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # type: tracking flag type (e.g. "project", "tracking")
  #%]

[%
  RETURN UNLESS tracking_flags_table.size;
  set_flags = 0;
  FOREACH row IN tracking_flags_table;
    NEXT IF row.tracking.value == "---" && row.status.value == "---";
    set_flags = 1;
  END;
%]

[%# view %]
[% IF set_flags %]
  <div class="flags edit-hide">
    <table class="layout-table tracking-flags">
      [% IF type == "tracking" %]
        <tr>
          <th></th>
          <th>Tracking</th>
          <th>Status</th>
        </tr>
      [% END %]
      [% FOREACH row IN tracking_flags_table %]
        [%    
          NEXT UNLESS row.type == type;
          NEXT IF (!row.tracking || row.tracking.value == "---")
            && (!row.status || row.status.value == "---");
        %]
        <tr>
          <td class="tracking-flag-name">[% row.description FILTER html %]</td>
          [% IF type == "tracking" %]
            <td class="tracking-flag-tracking">
              [% IF row.tracking.value != '---' %]
                <a href="[% basepath FILTER none %]buglist.cgi?f1=[% row.tracking.name FILTER uri ~%]
                  &amp;o1=equals&amp;v1=[% row.tracking.value FILTER uri %]">
              [% END %]
              [%~ row.tracking.value FILTER html ~%]
              [% '</a>' IF row.tracking.value != '---' %]
            </td>
          [% END %]
          <td class="tracking-flag-status">
            [% IF row.status.value != '---' %]
              <a href="[% basepath FILTER none %]buglist.cgi?f1=[% row.status.name FILTER uri ~%]
                &amp;o1=equals&amp;v1=[% row.status.value FILTER uri %]">
            [% END %]
            [%~ row.status.value FILTER html ~%]
            [% '</a>' IF row.status.value != '---' %]
          </td>
        </tr>
      [% END %]
    </table>
  </div>
[% END %]

[%# edit %]
<div class="flags edit-show" style="display:none">
  <table class="layout-table tracking-flags">
    [% IF type == "tracking" %]
      <tr>
        <th></th>
        <th>Tracking</th>
        <th>Status</th>
      </tr>
    [% END %]
    [% FOREACH row IN tracking_flags_table %]
      [% NEXT UNLESS row.type == type %]
      <tr>
        <td class="tracking-flag-name">[% row.description FILTER html %]</td>
        [% IF type == "tracking" %]
          <td class="tracking-flag-tracking">[% INCLUDE tf_select flag=row.tracking %]</td>
        [% END %]
        <td class="tracking-flag-status">[% INCLUDE tf_select flag=row.status %]</td>
      </tr>
    [% END %]
  </table>
</div>

[% BLOCK tf_select %]
  [% RETURN UNLESS flag %]
  <input type="hidden" id="[% flag.name FILTER html %]-dirty">
  <select id="[% flag.name FILTER html %]" name="[% flag.name FILTER html %]">
    [%
      FOREACH value IN flag.values;
    %]
        <option value="[% value.name FILTER html %]"
          id="v[% value.id FILTER html %]_[% flag.name FILTER html %]"
          [% " selected" IF flag.value == value.name %]
        >
          [% value.name FILTER html %]
        </option>
    [% END %]
  </select>
[% END %]
