[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% mimetypes = [{type => "text/plain", desc => "plain text"},
                {type => "text/html",  desc => "HTML source"},
                {type => "application/xml", desc => "XML source"},
                {type => "application/json", desc => "JSON source"},
                {type => "image/gif",  desc => "GIF image"},
                {type => "image/jpeg", desc => "JPEG image"},
                {type => "image/png",  desc => "PNG image"},
                {type => "image/svg+xml", desc => "SVG image"},
                {type => "application/pdf", desc => "PDF document"},
                {type => "application/octet-stream", desc => "binary file"}]
%]

[% Hook.process("mimetypes", "attachment/createformcontents.html.tmpl") %]

[% FOREACH m = mimetypes %]
  <option value="[% m.type FILTER html %]">[% m.desc FILTER html %] ([% m.type FILTER html %])</option>
[% END %]
