/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

:root {
  /** Accent Colors */
  --accent-color-red-1: 255, 47, 36;
  --accent-color-red-2: 220, 40, 30;
  --accent-color-green-1: 17, 166, 17;
  --accent-color-blue-3: 0, 148, 247;
  --accent-color-lightyellow-1: 51, 37, 3;
  --accent-color-pink-1: 128, 64, 64;
  --accent-color-lightgreen-1: 64, 128, 64;
  --accent-color-wine-1: 50, 45, 64;

  /** App */
  --application-foreground-color: rgb(200, 201, 202);
  --application-background-color: rgb(30, 31, 32);

  /** Region */
  --primary-region-border-color: rgb(20, 21, 22);
  --primary-region-box-shadow: 0 1px 4px rgba(10, 11, 12, .5);
  --primary-region-background-color: rgb(40, 41, 42);
  --primary-region-header-background-color: rgb(50, 51, 52);
  --secondary-region-border-color: rgb(30, 31, 32);
  --overlay-background-color: rgba(10, 11, 12, .7);

  /** Label */
  --secondary-label-color: rgb(160, 161, 162);
  --tertiary-label-color: rgb(120, 121, 122);
  --inverted-label-color: rgb(60, 61, 62);

  /** Text */
  --secondary-text-color: rgb(140, 141, 142);
  --secondary-text-border-color: rgb(60, 61, 62);
  --link-text-color: rgb(var(--accent-color-blue-3));
  --link-text-hover-color: rgb(var(--accent-color-blue-1));

  /** Control */
  --control-background-color: rgb(35, 36, 37);
  --control-border-color: rgb(60, 61, 62);
  --selected-control-background-color: rgb(50, 51, 52);
  --disabled-control-foreground-color: rgb(90, 91, 92);

  /** Button */
  --secondary-button-background-color: rgb(60, 61, 62);
  --secondary-button-border-color: rgb(50, 51, 52);
  --pressed-button-foreground-color: rgb(60, 61, 62);
  --pressed-button-background-color: rgb(180, 181, 182);

  /** Menu */
  --menu-box-shadow: 0 1px 12px rgba(10, 11, 12, .5);

  /** Grid */
  --grid-header-background-color: rgb(50, 51, 52);
  --grid-subheader-background-color: rgb(70, 71, 72);
}

select:not([multiple]):not([size]) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(90, 91, 92)" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
}
