/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#welcome-admin a {
  font-weight: bold;
}

#welcome {
  text-align: center;
  margin: 0 0 8px 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 600px;
  border-top: 1px solid var(--secondary-region-border-color);
  border-bottom: 1px solid var(--secondary-region-border-color);
  padding: 32px 0;
  margin-top: 32px;
}

.option {
  display: flex;
  gap: 20px;
}

.option .icon img {
  width: 48px;
  height: 48px;
}

.option .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.option .title a,
.option .title a:visited {
  color: var(--application-foreground-color);
}

.option .desc-container {
  flex-grow: 1;
}
