/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#bugzilla-body:has(#home) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - var(--global-header-height));
}

#home {
  --content-margin: 48px;
  --box-padding: 32px;
  --title-font-size: 48px;
  --description-font-size: 20px;
  --heading-font-size: 24px;
}

#welcome-admin a {
  font-weight: bold;
}

#welcome {
  margin: var(--content-margin);
  text-align: center;
}

#welcome h1 {
  margin: 0;
  font-size: var(--title-font-size);
}

#welcome p {
  margin: 8px 0 0;
  color: var(--secondary-label-color);
  font-size: var(--description-font-size);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: var(--content-margin);
  margin-inline: auto;
  max-width: 1024px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--box-padding);
  box-sizing: border-box;
  padding: var(--box-padding);
  max-width: 600px;
}

.option {
  display: flex;
  gap: 20px;
}

.option .icon :is(img, svg) {
  width: 48px;
  height: 48px;
}

.option .icon svg path {
  fill: var(--application-foreground-color);
}

.option .title {
  margin-bottom: 4px;
  font-size: var(--heading-font-size);
  font-weight: 500;
}

.option .title a,
.option .title a:visited {
  color: var(--application-foreground-color);
}

.option .title a:hover,
.option .title a:focus {
  color: var(--hovered-link-text-color);
}

.option .desc-container {
  flex-grow: 1;
}

.option .desc {
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-label-color);
}

.downloads {
  border-radius: 16px;
  background-color: var(--primary-region-background-color);
}

.downloads .title {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}

.downloads .title span {
  display: block;
  font-size: var(--heading-font-size);
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (width < 768px) {
  #home {
    --content-margin: 24px;
    --box-padding: 24px;
    --title-font-size: 36px;
    --description-font-size: 16px;
    --heading-font-size: 20px;
  }

  .community {
    padding-inline: 0;
  }
}

@media screen and (1200px <= width) {
  #content {
    flex-direction: row;
    padding-inline: var(--content-margin);
  }

  .downloads {
    flex: none;
    width: 360px;
  }
}
