[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "SiteMapIndex"
   desc = "Configure SiteMapIndex Support for Search Indexers"
%]

[%
   param_descs = {
      sitemapindex_enabled => "Enable SiteMapIndex",
      sitemapindex_s3_bucket => "S3 bucket name to access sitemapindex files",
      sitemapindex_aws_region => "SiteMapIndex AWS Region (default: us-west-2)",
      sitemapindex_aws_client_id => "SiteMapIndex AWS Client ID",
      sitemapindex_aws_client_secret => "SiteMapIndex AWS Client Secret"
   }
%]
