[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "SiteMapIndex"
   desc = "Configure SiteMapIndex Support for Search Indexers"
%]

[%
   param_descs = {
      sitemapindex_enabled => "Enable SiteMapIndex",
      sitemapindex_google_bucket => "Google Cloud Storage bucket name for sitemapindex files",
      sitemapindex_google_host => "Google Cloud Storage host for sitemapindex files",
      sitemapindex_google_service_account => "Google Cloud Storage service account for sitemapindex files",
   }
%]
