[%# INTERFACE:
  # (All the below interface elements are optional.)
  # title: string. Page title.
  # header: string. Main page header.
  # subheader: string. Page subheader.
  # header_addl_info: string. Additional header information.
  # bodyclasses: array of extra CSS classes for the <body>
  # onload: string. JavaScript code to run when the page finishes loading.
  # javascript: string. Javascript to go in the header.
  # javascript_urls: list. List of URLs to Javascript.
  # style: string. CSS style.
  # style_urls: list. List of URLs to CSS style sheets.
  # message: string. A message to display to the user. May contain HTML.
  # atomlink: Atom link URL, May contain HTML
  # generate_api_token: generate a token which can be used to make authenticated webservice calls
  # no_body: if true the body element will not be generated
  # allow_mobile: allow special CSS and viewport for detected mobile useragents
  # use_login_page: display a link to the full login page, rather than an inline login.
  #%]
[%

IF message;
    PROCESS global/messages.html.tmpl;
END;

DEFAULT
  subheader = ""
  header_addl_info = ""
  onload = ""
  style_urls = []
  no_yui = 0
  jquery = []
  jquery_css = []
  generate_api_token = 0
;

# These are JS URLs that are *always* on the page and come before
# every other JS URL.
SET starting_js_urls = [
  "js/jquery/jquery-min.js",
  "js/jquery/ui/jquery-ui-min.js"
];

SET jq_css_urls = [
  "js/jquery/ui/jquery-ui-min.css",
  "js/jquery/ui/jquery-ui-structure-min.css",
  "js/jquery/ui/jquery-ui-theme-min.css",
];

CALL style_urls.import(jquery_css, jq_css_urls);

# Add our required jQuery plugins
jquery.push("cookie", "devbridgeAutocomplete");

# We should be able to set the default value of the header variable
# to the value of the title variable using the DEFAULT directive,
# but that doesn't work if a caller sets header to the empty string
# to avoid header inheriting the value of title, since DEFAULT
# mistakenly treats empty strings as undefined and gives header the
# value of title anyway.  To get around that problem we explicitly
# set header's default value here only if it is undefined.
IF !header.defined; header = title; END;

%]
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [% FOREACH style IN style_urls %]
        <link rel="stylesheet" href="[% style FILTER html %]">
    [% END %]
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>[% title FILTER none %]</title>
    <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
      }
      .footer {
        text-align: right;
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }
      .Header-branding-logo {
        margin-top: -5px;
        margin-bottom: 10px;
      }
    </style>
  </head>

  [% FOREACH js_url IN javascript_urls %]
  <script src="[% js_url FILTER html %]"></script>
  [% END %]
  <body
        class="[% urlbase.replace('^https?://','').replace('/$','').replace('[-~@:/.]+','-') FILTER css_class_quote %]
               skin-[% user.settings.skin.value FILTER css_class_quote %]
               [% FOREACH class = bodyclasses %]
                 [% ' ' %][% class FILTER css_class_quote %]
               [% END %] yui-skin-sam">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
            <img src="//static1.squarespace.com/static/58879499725e2572b9c4e0ec/t/588d2571197aeae36a5e0d60/1499830757644/?format=100w"
                 alt="Mozilla Design Language" class="Header-branding-logo">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Search</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            [<a href="page.cgi?id=quicksearch.html" title="Quicksearch Help">help</a>]
          </form>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Reports</a></li>
            <li><a href="#">My Dashboard</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[% user.login FILTER html %] <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">My Dashboard</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">My Activity</a></li>
                <li><a href="#">My Requests</a></li>
                <li><a href="#">Preferences</a></li>
                <li><a href="#">Administration</a></li>
              </ul>
            </li>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    [% content %]
    <footer class="footer">
        <p>Privacy Notice | Legal Terms</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
