[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

</div> [%# main-inner %]
</main> [%# bugzilla-body %]
</div> [%# wrapper %]

[% Hook.process("end") %]

[% USE Bugzilla %]
[% IF Param("cookie_consent_enabled")
  && Bugzilla.cgi.cookie_consent_required %]
<aside class="moz-consent-banner" id="moz-consent-banner" role="region" aria-label="Cookie Banner" data-nosnippet="true">
  <div class="moz-consent-banner-content">
    <h2  class="moz-consent-banner-heading">Help us improve your [% terms.BugzillaTitle %] experience</h2>
    <div class="moz-consent-banner-copy">
      <p>
        In addition to cookies necessary for this site to function, we’d like your permission to store some additional information
        that will improve your experience. [% terms.Bugzilla %] does not use this information for tracking or any kind of analytics.
        Rest assured - we value your privacy. You will be able to change your
        <a href="[% basepath FILTER none %]page.cgi?id=cookies.html">Cookie Settings</a> later.
      </p>
      <div class="moz-consent-banner-controls">
        <button type="button" id="moz-consent-banner-button-accept" class="moz-consent-banner-button moz-consent-banner-button-accept">
          Accept All Cookies
        </button>
        <button type="button" id="moz-consent-banner-button-reject" class="moz-consent-banner-button moz-consent-banner-button-reject">
          Reject All Non-Essential Cookies
        </button>
      </div>
    </div>
  </div>
</aside>
[% END %]
</body>
</html>

