[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # who: A Bugzilla::User object that we are going to represent.
  #%]

<span class="vcard vcard_[% who.id FILTER html %]">
  [% FILTER collapse %]
    [% IF user.id %]
      <a class="email" href="mailto:[% who.email FILTER html %]"
         onclick="return show_usermenu([% who.id FILTER none %], '[% who.email FILTER js %]',
                  [% user.in_group('editusers') || user.bless_groups.size > 0 ? "true" : "false" %]);"
        title="[% who.identity FILTER html %]">
    [%- END -%]
    [% IF who %]
      [% IF who.name %]
        <span class="fn">[% who.name FILTER html %]</span>
      [% ELSE %]
        <span class="ln">[% who.login FILTER email FILTER html %]</span>
      [% END %]
    [% END %]
    [% '</a>' IF user.id %]
  [% END %]
</span>
