[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is  |  "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Webhooks Documentation"
   style = "#bugzilla-body li {
              margin: 5px
            }
            h4 {
              margin-bottom: 0px
            }
            .heading {
              font-weight: bold
            }
            #main-inner{
              margin-left: 20%;
              margin-right: 20%;
              margin-bottom: 5%
            }
            "
%]

<h1>[% terms.Bugzilla %] Webhooks</h1>

<p>A webhook is a custom callback defined by events. Is triggered when those events happen, and a POST
request is sent to a defined URL.</p>

<p>In the case of [% terms.Bugzilla %], a webhook can be triggered by a change to, or creation of a [% terms.bug %]. The
parameters of the [% terms.bug %] are exposed to the webhook handler which makes a callback (over HTTP) to another
web application.</p>

<p>Examples of [% terms.Bugzilla %] webhooks could include:</p>
<ul>
  <li>Updating a copy of the [% terms.Bugzilla %] [% terms.bug %] in another system such as Jira</li>
  <li>Sending a message to a chat server such as Matrix or Slack</li>
</ul>

<h2>Creating a webhook</h2>
<p>To create a webhook follow the next steps:</p>
<ol>
  <li>Access to your [% terms.Bugzilla %] Account.</li>
  <li>Go to your Preferences Panel > Webhooks.</li>
  <li>Fill out all of the parameters:</li>
    <h4>Name</h4>
    <p>A name for the webhook, which should be descriptive (e.g. “Jira Webhook for New & Updated [% terms.Bugs %] in Core::Graphics”)</p>

    <h4>URL</h4>
    <p>The URL which will receive and process the webhook.</p>

    <h4>Events</h4>
    <p>The [% terms.bug %] events that will trigger your new webhook.</p>
      <ul>
        <li><b>When a new [% terms.bug %] is created</b></li>
        <li><b>When an existing [% terms.bug %] is modified</b></li>
        <li><b>When a new attachment is created</b></li>
        <li><b>When a new comment is created</b></li>
      </ul>

    <h4>Filters</h4>
    <p>Properties of a [% terms.bug %] that specify which [% terms.bugs %] you will receive.</p>
      <ul>
        <li><b>Product</b>: name of the product of the [% terms.bugs %] that you want to receive.</li>
        <li><b>Component</b>: name of the component of the [% terms.bugs %] that you want to receive.
        If you want to receive the [% terms.bugs %] of all the components of a product, select <b>Any</b>.</li>
      </ul>
    <br>
  <li>Add the webhook.</li>
</ol>

<p>You can see your registered webhooks in the same panel.</p>
<p>If you want to delete a webhook, select the webhook in “Your webhooks” table and click remove
selected. You can select more than one.</p>

<h2>Delivered webhook</h2>
<p>When a webhook is triggered the HTTP POST of a fixed JSON structure payload that is delivered
contains the webhook_id, webhook_name and the information about the [% terms.bug %] that matches the event and filters.</p>

<p>If the [% terms.bug %] is private, only the [% terms.bug %] id and some other basic information is sent and the external system will
need to query BMO over the REST API to get the actual details of the [% terms.bug %].</p>

<p>The webhooks will be called in the same order as the events triggering them and will be one request per new
[% terms.bug %] and per changed [% terms.bug %]. The "changes" parameter will be sent only when the triggered event is changed and will
content every change made in the [% terms.bug %].</p>

<h4>Public [% terms.Bug %] Request</h4>
<xmp>
{
  "[% terms.bug %]": {
    "version": {
      "id": 282,
      "name": "unspecified"
    },
    "qa_contact": null,
    "product": {
      "id": 21,
      "name": "Firefox"
    },
    "creation_time": "2020-07-23T00:01:45",
    "resolution": "",
    "flags": [],
    "classification": "Client Software",
    "url": "",
    "type": "enhancement",
    "operating_system": "Linux",
    "keywords": [],
    "status": {
      "name": "CONFIRMED",
      "id": 2
    },
    "last_change_time": "2020-07-23T00:01:45",
    "is_private": false,
    "severity": "normal",
    "summary": "Webhook Test - Disregard",
    "alias": "",
    "reporter": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "assigned_to": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "platform": "PC",
    "id": 11,
    "priority": "P1",
    "target_milestone": null,
    "whiteboard": "",
    "component": {
      "id": 1876,
      "name": "Sync"
    }
  },
  "event": {
    "action": "create",
    "time": "2020-07-24T20:11:22",
    "user": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "changes": [
      {
        "field": "priority",
        "removed": "P3",
        "added": "P1"
      }
    ]
  },
  "webhook_id": 23,
  "webhook_name": "test-bug"
}
</xmp>

<h4>Private [% terms.Bug %] Request</h4>
<xmp>
{
  "[% terms.bug %]": {
    "id": 2,
    "is_private": true
  },
  "event": {
    "action": "change",
    "time": "2020-07-24T20:11:22",
    "user": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    }
  },
  "webhook_id": 23,
  "webhook_name": "test-bug",
}
</xmp>

<h4>Response</h4>
<p>HTTP 200 OK. The request has succeeded.</p>

<h4>New Comment</h4>
<xmp>
{
  "[% terms.bug %]": {
    "alias": "",
    "assigned_to": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "classification": "Client Software",
    "component": {
      "id": 1876,
      "name": "Sync"
    },
    "creation_time": "2020-10-16T06:24:06",
    "flags": [],
    "id": 1629704,
    "is_private": false,
    "keywords": [],
    "last_change_time": "2020-10-16T06:26:21",
    "operating_system": "Unspecified",
    "platform": "Unspecified",
    "priority": "",
    "product": {
      "id": 21,
      "name": "Firefox"
    },
    "qa_contact": null,
    "reporter": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "resolution": "",
    "severity": "--",
    "status": {
      "id": 2,
      "name": "NEW"
    },
    "summary": "Webhook Test - Disregard",
    "target_milestone": null,
    "type": "defect",
    "url": "",
    "version": {
      "id": 282,
      "name": "unspecified"
    },
    "whiteboard": "",
    "comment": {
      "body": "another test comment",
      "creation_time": "2020-10-16T06:28:41",
      "id": 14748073,
      "is_private": false,
      "number": 2
    },
  },
  "event": {
    "action": "create",
    "routing_key": "comment.create",
    "target": "comment",
    "time": "2020-10-16T06:28:41",
    "user": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    }
  },
  "webhook_id": 23,
  "webhook_name": "test-comment"
}
</xmp>

<h4>New Attachment</h4>
<xmp>
{
  "[% terms.bug %]": {
    "alias": "",
    "assigned_to": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "classification": "Client Software",
    "component": {
      "id": 1876,
      "name": "Sync"
    },
    "creation_time": "2020-10-16T06:24:06",
    "flags": [],
    "id": 1629704,
    "is_private": false,
    "keywords": [],
    "last_change_time": "2020-10-16T07:05:47",
    "operating_system": "Unspecified",
    "platform": "Unspecified",
    "priority": "",
    "product": {
      "id": 21,
      "name": "Firefox"
    },
    "qa_contact": null,
    "reporter": {
      "id": 1,
      "login": "nobody@mozilla.org",
      "real_name": "Nobody; OK to take it and work on it"
    },
    "resolution": "",
    "severity": "--",
    "status": {
      "id": 2,
      "name": "NEW"
    },
    "summary": "Webhook Test - Disregard",
    "target_milestone": null,
    "type": "defect",
    "url": "",
    "version": {
      "id": 282,
      "name": "unspecified"
    },
    "whiteboard": "",
    "attachment": {
      "content_type": "text/plain",
      "creation_time": "2020-10-16T07:08:12",
      "description": "test attachment",
      "file_name": "file_1629704.txt",
      "flags": [],
      "id": 9180115,
      "is_obsolete": false,
      "is_patch": false,
      "is_private": false,
      "last_change_time": "2020-10-16T07:08:12"
    }
  },
  "event": {
    "action": "create",
    "routing_key": "attachment.create",
    "target": "attachment",
    "time": "2020-10-16T07:08:12",
    "user": {
    "id": 1,
    "login": "nobody@mozilla.org",
    "real_name": "Nobody; OK to take it and work on it"
    }
  },
  "webhook_id": 23,
  "webhook_name": "test-attachment"
}
</xmp>

<h4>Errors</h4>
<p>If the response is not 200, the [% terms.Bugzilla %] system will retry 4 attempts, waiting 5s, 10s, 15s and
20s between each attempt. If none of those attempts is successful, the system will continue trying
every 15 minutes.</p>

<p>If a message is stuck without a successful attempt, the next messages that trigger the webhook
will be stored in a queue in the order that were triggered and will be delivered in that order when
the first message in the queue is delivered.</p>

[% INCLUDE global/footer.html.tmpl %]
