[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% Param('maintainer') %]
Subject: [[% terms.Bugzilla %]] Unable to set Phabricator enabled status for [% user.login FILTER none %]
X-Bugzilla-Type: admin

Attempting to update enabled status automatically for [% user.login FILTER none %]
in Phabricator failed with following error:

[% error FILTER none %]

Please visit [% terms.Bugzilla %] and Phabricator and manually update the
user's enabled status.
