[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  RETURN UNLESS Param('mozilla_iam_enabled');
  RETURN UNLESS otheruser.iam_username;
  moz_emp_group_id = 0;
  FOREACH group = groups;
    IF group.name == 'mozilla-employee-confidential';
      moz_emp_group_id = group.id;
      LAST;
    END;
  END;
  RETURN IF !moz_emp_group_id;
%]

<script [% script_nonce FILTER none %]>
window.addEventListener('DOMContentLoaded', () => {
    const label = document.querySelector('label[for="group_[% moz_emp_group_id FILTER js %]"]');
    if (label) {
      const span  = document.createElement('span');
      span.setAttribute('title',
        'Changes made by admins will be overwritten next ' +
        'time the user\'s People profile is updated.');
      span.innerHTML = '(IAM Managed)';
      label.appendChild(span);
    }
    document.querySelector('input[name="group_[% moz_emp_group_id FILTER js %]"]').disabled = true;
    document.querySelector('input[name="bless_[% moz_emp_group_id FILTER js %]"]').disabled = true;
});
</script>
