[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is  |  "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# initialize product to component mapping #%]

[% SET selectable_products = user.get_selectable_products %]
[% SET dont_show_button = 1 %]

<script [% script_nonce FILTER none %]>
var useclassification = false;
var first_load = true;
var last_sel = [];
var cpts = new Array();
[% n = 0 %]
[% FOREACH prod = selectable_products %]
  cpts['[% n %]'] = [
    [%- FOREACH comp = prod.components %]'[% comp.name FILTER js %]'[% ", " UNLESS loop.last %] [%- END -%] ];
  [% n = n + 1 %]
[% END %]
</script>

<script src="[% 'js/productform.js' FILTER version FILTER html %]"></script>

<script [% script_nonce FILTER none %]>
function onSelectProduct() {
  var component = document.getElementById('component');
  selectProduct(document.getElementById('product'), component);
  // selectProduct only supports Any on both elements
  // we only want it on component, so add it back in
  try {
    component.add(new Option('Any', ''), component.options[0]);
  } catch(e) {
    // support IE
    component.add(new Option('Any', ''), 0);
  }
  document.getElementById('component').options[0].selected = true;
}

window.onload = function() {
  onSelectProduct();
};
</script>

<p>
  It will be sent a POST request with the information of the [% terms.bugs %] that match with the events and filters selected to your URL.<br>
  Documentation about webhooks is available <a href="page.cgi?id=webhooks.html">here</a>.
</p>

<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <th align="right">Name:</th>
  <td><input type="text" name="name" id="name" maxlength="64"></td>
</tr>
<tr>
  <th align="right">URL:</th>
  <td><input type="text" name="url" id="url" maxlength="64"></td>
</tr>
</table>
<h4>Events</h4>
<p>Select the events you want to receive.</p>
<p>
  <input type="checkbox" id="create_event" name="event" value="create">
  <label for="create_event">When a new <b>[% terms.bug %]</b> is <b>created</b></label>
<br>
  <input type="checkbox" id="change_event" name="event" value="change">
  <label for="change_event">When an existing <b>[% terms.bug %]</b> is <b>modified</b></label>
<br>
  <input type="checkbox" id="attachment_event" name="event" value="attachment">
  <label for="attachment_event">When a new <b>attachment</b> is created</label>
<br>
  <input type="checkbox" id="comment_event" name="event" value="comment">
  <label for="comment_event">When a new <b>comment</b> is created</label>
</p>
<h4>Filters</h4>
<p>
  To receive all components in a product, select "Any".
</p>
<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <th align="right">Product:</th>
  <td>
    <select name="add_product" id="product" onChange="onSelectProduct()">
    [% FOREACH product IN selectable_products %]
      <option>[% product.name FILTER html %]</option>
    [% END %]
    </select>
  </td>
</tr>
<tr>
  <th align="right">Component:</th>
  <td>
    <select name="api_key" id="api_key">
      <option value="">Any</option>
    [% FOREACH product IN selectable_products %]
      [% FOREACH component IN product.components %]
        <option>[% component.name FILTER html %]</option>
      [% END %]
    [% END %]
    </select>
  </td>
</tr>
<table>
<h4>API Keys (optional)</h4>
<p>
  Specify API keys if endpoint requires authentication.
</p>
<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <th align="right">API Key Header:</th>
  <td>
    <td>
      <input type="text" name="api_key_header" id="api_key_header" maxlength="64">
      <br>
      (Example: Authorization)
    </td>
  </td>
</tr>
<tr>
  <th align="right">API Key Value:</th>
  <td>
    <td>
      <input type="text" name="api_key_value" id="api_key_value" maxlength="64">
      <br>
      (Example: Token zQ5TSBzq7tTZMtKYq9K1ZqJMjifKx3cPL7pIGk9Q)
    </td>
  </td>
</tr>
</table>

<p><input type="submit" id="add_webhook" name="add_webhook" value="Add"></p>

<hr>

[% IF webhooks.size %]

  <h3>
    Your webhooks:
  </h3>

  <table id="webhooks_table" class="standard">
  <thead>
    <tr>
      <th>Remove</th>
      <th>Name</th>
      <th>URL</th>
      <th>Events</th>
      <th>Product</th>
      <th>Component</th>
      <th>API Key</th>
      <th>Status</th>
      <th>Errors</th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH webhook IN webhooks %]
  [% connector = connectors.by_name('Webhook_' _ webhook.id) %]
    <tr>
      <td>
        <input type="checkbox" onChange="onRemoveChange()"
               name="remove" value="[% webhook.id FILTER none %]">
      </td>
      <td>[% webhook.name FILTER html %]</td>
      <td>
        <a href="[% webhook.url FILTER html %]">
          [% webhook.url FILTER html %]
        </a>
      </td>
      <td>[% webhook.event FILTER html %]</td>
      <td>[% webhook.product.name FILTER html %]</td>
      <td>[% webhook.component ? webhook.component.name : 'Any' FILTER html %]</td>
      <td>[% webhook.api_key_value FILTER html %]</td>
      <td>
        [% config = connector.config %]
        <select name="[% connector.name FILTER html %].enabled"
                id="[% connector.name FILTER html %]_enabled">
          <option value="Enabled" [% 'selected' IF config.${'enabled'} == 'Enabled' %]>Enabled</option>
          <option value="Disabled" [% 'selected' IF config.${'enabled'} == 'Disabled' %]>Disabled</option>
        </select>
      </td>
      <td>
        [% IF connector.backlog.count%]
          <a href="page.cgi?id=webhooks_queues.html&amp;[% ~%]
                  webhook=[% webhook.id FILTER uri %]">
            [% connector.backlog.count FILTER html %]
          </a>
        [% END %]
      </td>
    </tr>
  [% END %]
  </tbody>
  </table>
  <br>
  <input id="save_changes" type="submit" value="Save Changes">

[% ELSE %]

  <p>
    <i>You do not have any webhooks.</i>
  </p>

[% END %]
