name: BMO Test Suite

on: pull_request

jobs:
  test_sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build bmo.test
      - name: Run sanity tests
        run: docker-compose -f docker-compose.test.yml run --no-deps bmo.test test_sanity -qf t/*.t extensions/*/t/*.t

  test_webservices:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run webservice tests
        run: |
          docker-compose -f docker-compose.test.yml run bmo.test test_webservices -qf \
            qa/t/{webservice,rest}_*.t \
            $(find extensions \( -path "*/qa/t/webservice_*.t" -o -path "*/qa/t/rest_*.t" \))

  test_bmo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run bmo specific tests
        run: docker-compose -f docker-compose.test.yml run -e CI=1 bmo.test test_bmo -qf t/bmo/*.t extensions/*/t/bmo/*.t

  test_selenium_1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run Selenium tests (1)
        run: |
          docker-compose -f docker-compose.test.yml run bmo.test test_selenium -qf \
            qa/t/1_test_*.t \
            $(find extensions -path "*/qa/t/1_test_*.t")

  test_selenium_2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run Selenium tests (2)
        run: |
          docker-compose -f docker-compose.test.yml run bmo.test test_selenium -qf \
            qa/t/2_test_*.t \
            $(find extensions -path "*/qa/t/2_test_*.t")

  test_selenium_3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run Selenium tests (3)
        run: |
          docker-compose -f docker-compose.test.yml run bmo.test test_selenium -qf \
            qa/t/3_test_*.t \
            $(find extensions -path "*/qa/t/3_test_*.t")

  test_selenium_4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docker-compose
        run: sudo apt update && sudo apt install -y docker-compose
      - name: Build Docker test images
        run: docker-compose -f docker-compose.test.yml build
      - name: Run Selenium tests (4)
        run: |
          docker-compose -f docker-compose.test.yml run bmo.test test_selenium -qf \
            qa/t/4_test_*.t \
            $(find extensions -path "*/qa/t/4_test_*.t")
